/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * STYLE GUIDE VARIABLES------------------Declarations of Sass variables
 * -----Typography
 * -----Colors
 * -----Textfield
 * -----Switch
 * -----Spinner
 * -----Radio
 * -----Menu
 * -----List
 * -----Layout
 * -----Icon toggles
 * -----Footer
 * -----Column
 * -----Checkbox
 * -----Card
 * -----Button
 * -----Animation
 * -----Progress
 * -----Badge
 * -----Shadows
 * -----Grid
 * -----Data table
 * -----Dialog
 * -----Snackbar
 *
 * Even though all variables have the `!default` directive, most of them
 * should not be changed as they are dependent one another. This can cause
 * visual distortions (like alignment issues) that are hard to track down
 * and fix.
 */
/* ==========  TYPOGRAPHY  ========== */
/* We're splitting fonts into "preferred" and "performance" in order to optimize
   page loading. For important text, such as the body, we want it to load
   immediately and not wait for the web font load, whereas for other sections,
   such as headers and titles, we're OK with things taking a bit longer to load.
   We do have some optional classes and parameters in the mixins, in case you
   definitely want to make sure you're using the preferred font and don't mind
   the performance hit.
   We should be able to improve on this once CSS Font Loading L3 becomes more
   widely available.
*/
/* ==========  COLORS  ========== */
/**
*
* Material design color palettes.
* @see http://www.google.com/design/spec/style/color.html
*
**/
/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* ==========  Color Palettes  ========== */
/* colors.scss */
/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* ==========  IMAGES  ========== */
/* ==========  Color & Themes  ========== */
/* ==========  Typography  ========== */
/* ==========  Components  ========== */
/* ==========  Standard Buttons  ========== */
/* ==========  Icon Toggles  ========== */
/* ==========  Radio Buttons  ========== */
/* ==========  Ripple effect  ========== */
/* ==========  Layout  ========== */
/* ==========  Content Tabs  ========== */
/* ==========  Checkboxes  ========== */
/* ==========  Switches  ========== */
/* ==========  Spinner  ========== */
/* ==========  Text fields  ========== */
/* ==========  Card  ========== */
/* ==========  Sliders ========== */
/* ========== Progress ========== */
/* ==========  List ========== */
/* ==========  Item ========== */
/* ==========  Dropdown menu ========== */
/* ==========  Tooltips  ========== */
/* ==========  Footer  ========== */
/* TEXTFIELD */
/* SWITCH */
/* SPINNER */
/* RADIO */
/* MENU */
/* LIST */
/* LAYOUT */
/* ICON TOGGLE */
/* FOOTER */
/*mega-footer*/
/*mini-footer*/
/* CHECKBOX */
/* CARD */
/* Card dimensions */
/* Cover image */
/* BUTTON */
/**
 *
 * Dimensions
 *
 */
/* ANIMATION */
/* PROGRESS */
/* BADGE */
/* SHADOWS */
/* GRID */
/* DATA TABLE */
/* DIALOG */
/* SNACKBAR */
/* TOOLTIP */
/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* Typography */
/* Shadows */
/* Animations */
/* Dialog */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(../fonts/Roboto-Thin.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 200;
  src: local("Roboto ThinItalic"), local("Roboto-ThinItalic"), url(../fonts/Roboto-ThinItalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(../fonts/Roboto-Light.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local("Roboto LightItalic"), local("Roboto-LightItalic"), url(../fonts/Roboto-LightItalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(../fonts/Roboto-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(../fonts/Roboto-Italic.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/Roboto-Medium.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local("Roboto MediumItalic"), local("Roboto-MediumItalic"), url(../fonts/Roboto-MediumItalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/Roboto-Bold.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local("Roboto BoldItalic"), local("Roboto-BoldItalic"), url(../fonts/Roboto-BoldItalic.ttf) format("truetype"); }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/MaterialIcons-Regular.woff2) format("woff2"), url(../fonts/MaterialIcons-Regular.woff) format("woff"), url(../fonts/MaterialIcons-Regular.ttf) format("truetype"); }

.md,
.material-icons,
.qor-table.is-sortable > thead > tr > th.is-sorted[data-order-by]::after,
[qor-icon-name] > a::before,
[qor-icon-name] > a::after,
[qor-icon-name] > span::before,
[qor-icon-name] > span::after,
[data-toggle='qor.tab'] .qor-layout__tab-right:after,
[data-toggle='qor.tab'] .qor-layout__tab-left:after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  word-break: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  font-feature-settings: 'liga'; }
  .md.md-14,
  .material-icons.md-14,
  .qor-table.is-sortable > thead > tr > th.md-14.is-sorted[data-order-by]::after,
  [qor-icon-name] > a.md-14::before,
  [qor-icon-name] > a.md-14::after,
  [qor-icon-name] > span.md-14::before,
  [qor-icon-name] > span.md-14::after,
  [data-toggle='qor.tab'] .md-14.qor-layout__tab-right:after,
  [data-toggle='qor.tab'] .md-14.qor-layout__tab-left:after {
    font-size: 14px; }
  .md.md-18,
  .material-icons.md-18,
  .qor-table.is-sortable > thead > tr > th.md-18.is-sorted[data-order-by]::after,
  [qor-icon-name] > a.md-18::before,
  [qor-icon-name] > a.md-18::after,
  [qor-icon-name] > span.md-18::before,
  [qor-icon-name] > span.md-18::after,
  [data-toggle='qor.tab'] .md-18.qor-layout__tab-right:after,
  [data-toggle='qor.tab'] .md-18.qor-layout__tab-left:after {
    font-size: 18px; }
  .md.md-24,
  .material-icons.md-24,
  .qor-table.is-sortable > thead > tr > th.md-24.is-sorted[data-order-by]::after,
  [qor-icon-name] > a.md-24::before,
  [qor-icon-name] > a.md-24::after,
  [qor-icon-name] > span.md-24::before,
  [qor-icon-name] > span.md-24::after,
  [data-toggle='qor.tab'] .md-24.qor-layout__tab-right:after,
  [data-toggle='qor.tab'] .md-24.qor-layout__tab-left:after {
    font-size: 24px; }
  .md.md-36,
  .material-icons.md-36,
  .qor-table.is-sortable > thead > tr > th.md-36.is-sorted[data-order-by]::after,
  [qor-icon-name] > a.md-36::before,
  [qor-icon-name] > a.md-36::after,
  [qor-icon-name] > span.md-36::before,
  [qor-icon-name] > span.md-36::after,
  [data-toggle='qor.tab'] .md-36.qor-layout__tab-right:after,
  [data-toggle='qor.tab'] .md-36.qor-layout__tab-left:after {
    font-size: 36px; }
  .md.md-48,
  .material-icons.md-48,
  .qor-table.is-sortable > thead > tr > th.md-48.is-sorted[data-order-by]::after,
  [qor-icon-name] > a.md-48::before,
  [qor-icon-name] > a.md-48::after,
  [qor-icon-name] > span.md-48::before,
  [qor-icon-name] > span.md-48::after,
  [data-toggle='qor.tab'] .md-48.qor-layout__tab-right:after,
  [data-toggle='qor.tab'] .md-48.qor-layout__tab-left:after {
    font-size: 48px; }
  .md.md-dark,
  .material-icons.md-dark,
  .qor-table.is-sortable > thead > tr > th.md-dark.is-sorted[data-order-by]::after,
  [qor-icon-name] > a.md-dark::before,
  [qor-icon-name] > a.md-dark::after,
  [qor-icon-name] > span.md-dark::before,
  [qor-icon-name] > span.md-dark::after,
  [data-toggle='qor.tab'] .md-dark.qor-layout__tab-right:after,
  [data-toggle='qor.tab'] .md-dark.qor-layout__tab-left:after {
    color: rgba(0, 0, 0, 0.54); }
  .md.md-dark.md-inactive,
  .material-icons.md-dark.md-inactive,
  .qor-table.is-sortable > thead > tr > th.md-dark.md-inactive.is-sorted[data-order-by]::after,
  [qor-icon-name] > a.md-dark.md-inactive::before,
  [qor-icon-name] > a.md-dark.md-inactive::after,
  [qor-icon-name] > span.md-dark.md-inactive::before,
  [qor-icon-name] > span.md-dark.md-inactive::after,
  [data-toggle='qor.tab'] .md-dark.md-inactive.qor-layout__tab-right:after,
  [data-toggle='qor.tab'] .md-dark.md-inactive.qor-layout__tab-left:after {
    color: rgba(0, 0, 0, 0.26); }
  .md.md-light,
  .material-icons.md-light,
  .qor-table.is-sortable > thead > tr > th.md-light.is-sorted[data-order-by]::after,
  [qor-icon-name] > a.md-light::before,
  [qor-icon-name] > a.md-light::after,
  [qor-icon-name] > span.md-light::before,
  [qor-icon-name] > span.md-light::after,
  [data-toggle='qor.tab'] .md-light.qor-layout__tab-right:after,
  [data-toggle='qor.tab'] .md-light.qor-layout__tab-left:after {
    color: white; }
  .md.md-light.md-inactive,
  .material-icons.md-light.md-inactive,
  .qor-table.is-sortable > thead > tr > th.md-light.md-inactive.is-sorted[data-order-by]::after,
  [qor-icon-name] > a.md-light.md-inactive::before,
  [qor-icon-name] > a.md-light.md-inactive::after,
  [qor-icon-name] > span.md-light.md-inactive::before,
  [qor-icon-name] > span.md-light.md-inactive::after,
  [data-toggle='qor.tab'] .md-light.md-inactive.qor-layout__tab-right:after,
  [data-toggle='qor.tab'] .md-light.md-inactive.qor-layout__tab-left:after {
    color: rgba(255, 255, 255, 0.3); }

.qor-layout {
  width: 100%; }
  .qor-layout .mdl-layout__content {
    overflow: auto;
    padding-top: 8px;
    margin-left: 0; }
    .qor-layout .mdl-layout__content.has-subnav {
      padding-top: 56px; }
    .qor-layout .mdl-layout__content > .qor-page__body > .qor-table-container {
      margin-top: 0; }
    .qor-layout .mdl-layout__content::-webkit-scrollbar {
      width: 8px;
      height: 8px; }
    .qor-layout .mdl-layout__content::-webkit-scrollbar-button {
      width: 0;
      height: 0; }
    .qor-layout .mdl-layout__content::-webkit-scrollbar-thumb {
      background: #ccc;
      border: 0 none #ffffff;
      border-radius: 50px; }
    .qor-layout .mdl-layout__content::-webkit-scrollbar-thumb:hover {
      background: rgb(3,169,244); }
    .qor-layout .mdl-layout__content::-webkit-scrollbar-thumb:active {
      background: rgb(3,169,244); }
    .qor-layout .mdl-layout__content::-webkit-scrollbar-track {
      background: transparent;
      border: 0 none #ffffff;
      border-radius: 50px; }
    .qor-layout .mdl-layout__content::-webkit-scrollbar-track:hover {
      background: transparent; }
    .qor-layout .mdl-layout__content::-webkit-scrollbar-track:active {
      background: transparent; }
    .qor-layout .mdl-layout__content::-webkit-scrollbar-corner {
      background: transparent; }
  .qor-layout .mdl-layout__header,
  .qor-layout .mdl-layout__tab-bar {
    background-color: #0277bd; }
  .qor-layout .mdl-layout__header a.mdl-button--icon:hover {
    color: #fff; }
  .qor-layout .mdl-layout__header .mdl-layout__header-row > .mdl-button--icon,
  .qor-layout .mdl-layout__header .mdl-layout__header-row .qor-search-container {
    margin: 0 4px; }
  .qor-layout .mdl-layout__header .qor-search-container {
    /* float: none; */ }
    .qor-layout .mdl-layout__header .qor-search-container .qor-search {
      height: 64px;
      line-height: 64px;
      padding: 0; }
      .qor-layout .mdl-layout__header .qor-search-container .qor-search.is-focused .mdl-textfield__label::after {
        background-color: #fff; }
      .qor-layout .mdl-layout__header .qor-search-container .qor-search.is-focused .mdl-button.mdl-button--colored {
        color: #fff; }
      .qor-layout .mdl-layout__header .qor-search-container .qor-search .qor-search__label {
        color: #fff;
        top: 17px; }
  .qor-layout.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
    background: rgb(255,255,255); }
  .qor-layout .mdl-layout-text {
    color: rgba(255,255,255, 0.54); }
  .qor-layout .mdl-navigation__link > .material-icons, .qor-layout .qor-table.is-sortable > thead > tr.mdl-navigation__link > th.is-sorted[data-order-by]::after, .qor-layout .mdl-navigation__link[qor-icon-name] > a::before, .qor-layout .mdl-navigation__link[qor-icon-name] > a::after, .qor-layout .mdl-navigation__link[qor-icon-name] > span::before, .qor-layout .mdl-navigation__link[qor-icon-name] > span::after, .qor-layout [data-toggle='qor.tab'] .mdl-navigation__link > .qor-layout__tab-right:after, [data-toggle='qor.tab'] .qor-layout .mdl-navigation__link > .qor-layout__tab-right:after, .qor-layout [data-toggle='qor.tab'] .mdl-navigation__link > .qor-layout__tab-left:after, [data-toggle='qor.tab'] .qor-layout .mdl-navigation__link > .qor-layout__tab-left:after {
    vertical-align: middle; }
  .qor-layout .mdl-layout__drawer {
    background-color: #fff; }

.qor-layout__sidebar {
  height: 100%; }
  .qor-layout__sidebar > .sidebar-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 64px; }
    .qor-layout__sidebar > .sidebar-header > a {
      text-decoration: none; }
      .qor-layout__sidebar > .sidebar-header > a:hover, .qor-layout__sidebar > .sidebar-header > a:focus {
        text-decoration: none; }
      .qor-layout__sidebar > .sidebar-header > a:first-child {
        float: left;
        display: block;
        width: 110px;
        height: 64px;
        background: url(../images/logo.png) no-repeat center center;
        color: transparent; }
      .qor-layout__sidebar > .sidebar-header > a:last-child {
        float: left;
        width: 100px;
        padding: 22px 10px;
        color: #757575; }
        .qor-layout__sidebar > .sidebar-header > a:last-child > .material-icons, .qor-layout__sidebar > .sidebar-header > a[qor-icon-name]:last-child > a::before, .qor-layout__sidebar > .sidebar-header > a[qor-icon-name]:last-child > a::after, .qor-layout__sidebar > .sidebar-header > a[qor-icon-name]:last-child > span::before, .qor-layout__sidebar > .sidebar-header > a[qor-icon-name]:last-child > span::after, [data-toggle='qor.tab'] .qor-layout__sidebar > .sidebar-header > a:last-child > .qor-layout__tab-right:after, [data-toggle='qor.tab'] .qor-layout__sidebar > .sidebar-header > a:last-child > .qor-layout__tab-left:after {
          position: relative;
          top: -1px;
          margin-left: 3px;
          margin-right: 3px;
          vertical-align: middle; }
  .qor-layout__sidebar > .sidebar-userinfo {
    height: 48px;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
    padding-left: 16px; }
    .qor-layout__sidebar > .sidebar-userinfo h5 {
      font-size: 14px;
      max-width: 70%;
      text-overflow: ellipsis;
      line-height: 48px;
      margin: 0;
      font-weight: 300;
      float: left; }
    .qor-layout__sidebar > .sidebar-userinfo > a {
      float: right;
      margin-top: 8px;
      margin-right: 8px; }
  .qor-layout__sidebar > .sidebar-body {
    position: absolute;
    top: 112px;
    right: 0;
    bottom: 40px;
    left: 0;
    overflow: visible;
    overflow-y: auto; }
  .qor-layout__sidebar > .sidebar-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 8px 16px;
    border-top: 1px solid rgba(0,0,0, 0.12);
    line-height: 24px; }

.qor-layout__content {
  position: absolute;
  top: 0;
  right: 0;
  left: 56px;
  min-height: 100%;
  -webkit-transition: left 0.35s ease;
  -o-transition: left 0.35s ease;
  transition: left 0.35s ease; }

.has-subnav .qor-page__header {
  height: auto; }

.qor-page__header {
  position: fixed;
  top: 64px;
  min-height: 48px;
  margin-bottom: 24px;
  padding: 0 24px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 5000;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.12); }
  .qor-page__header:before, .qor-page__header:after {
    content: " ";
    display: table; }
  .qor-page__header:after {
    clear: both; }
  .qor-page__header .mdl-button {
    height: 32px;
    line-height: 32px; }
  .qor-page__header .qor-search {
    height: 48px; }
  .qor-page__header + .qor-page__body {
    padding-top: 48px; }

.qor-page__footer {
  height: 40px; }

.mdl-layout__content {
  z-index: 4; }

.qor-page__header .qor-page-subnav__header {
  width: calc(100% + 48px); }

.qor-page-subnav__header {
  padding: 0 !important;
  background-color: transparent;
  margin: 0 -24px; }
  .qor-page-subnav__header .mdl-layout__tab {
    min-width: 128px;
    box-sizing: border-box; }
  .qor-page-subnav__header .mdl-layout__tab-bar {
    padding: 0; }

.qor-page__header-tabbar {
  padding: 0;
  background-color: #0277bd; }
  .qor-page__header-tabbar .mdl-layout__tab-bar {
    height: 48px;
    width: 100%;
    padding: 0; }

.qor-view-all {
  display: inline-block;
  height: 32px;
  margin-left: 16px;
  font-size: 12px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(3,169,244); }

.mdl-layout__header-row {
  padding-right: 12px; }

.qor-page__tips {
  text-align: center;
  font-size: 15px;
  color: rgba(0,0,0, 0.75);
  margin-top: 48px; }

.qor-fieldset .qor-field + .qor-page__tips {
  margin-top: -28px; }

.qor-fieldset .qor-page__tips {
  margin-top: 0;
  margin-bottom: 0; }

@media screen and (max-width: 1024px) {
  .qor-page__header {
    width: 100%;
    top: 56px;
    display: block; } }

@media screen and (min-width: 1025px) {
  .mdl-layout--fixed-drawer > .mdl-layout__header .mdl-layout__header-row {
    padding-left: 24px; }
  .qor-page__col-2 .qor-page__col-right {
    width: calc(100% - 320px);
    float: left; }
  .qor-page__col-2 .qor-page__col-left {
    float: left;
    width: 320px; }
    .qor-page__col-2 .qor-page__col-left h5 {
      margin-top: 0; } }

/* Fix refresh page sidebar height flash bug */
body > .mdl-layout {
  bottom: 0;
  position: absolute; }

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #f5f5f5; }

a {
  color: rgb(3,169,244); }
  a:focus, a:hover {
    color: rgb(2,136,209); }

.qor-form-container {
  margin: 24px; }

.qor-slideout__body .qor-form-container {
  margin: 24px 0;
  padding: 0;
  box-shadow: none; }

.qor-textarea__input {
  border: 1px solid rgba(0, 0, 0, 0.12);
  outline: none;
  width: 100%;
  margin-top: 12px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.4 !important; }

.qor-form__actions {
  margin-top: 24px; }
  .qor-form__actions:before, .qor-form__actions:after {
    content: " ";
    display: table; }
  .qor-form__actions:after {
    clear: both; }
  .qor-form__actions .percent-complete {
    margin-top: -22px;
    font-weight: 600; }
  .qor-form__actions #qor-submit-loading {
    float: right; }
    .qor-form__actions #qor-submit-loading .mdl-spinner {
      margin: 0 24px 24px 0; }
  .qor-form__actions .mdl-button {
    float: right; }
    .qor-form__actions .mdl-button + .mdl-button {
      margin-right: 8px; }

.mdl-switch {
  width: auto; }
  .mdl-switch.is-upgraded {
    padding-right: 28px; }

.mdl-textfield textarea.mdl-textfield__input {
  overflow: initial !important; }

.qor-search-container {
  float: right;
  z-index: 1;
  background-color: inherit; }

.qor-search,
.qor-global-search {
  height: 56px;
  padding: 14px 6px; }
  .qor-search .mdl-button,
  .qor-global-search .mdl-button {
    top: 10px; }
  .qor-search .qor-search__label,
  .qor-global-search .qor-search__label {
    color: rgba(0,0,0, 0.54); }
  .qor-search .qor-search__input,
  .qor-global-search .qor-search__input {
    font-size: 14px; }
  .qor-search .qor-search__clear,
  .qor-global-search .qor-search__clear {
    display: none; }
  .qor-search.is-dirty .qor-search__label, .qor-search.is-dirty .qor-search__label:hover, .qor-search.is-focused .qor-search__label, .qor-search.is-focused .qor-search__label:hover,
  .qor-global-search.is-dirty .qor-search__label,
  .qor-global-search.is-dirty .qor-search__label:hover,
  .qor-global-search.is-focused .qor-search__label,
  .qor-global-search.is-focused .qor-search__label:hover {
    background-color: transparent;
    cursor: default; }
  .qor-search.is-dirty .qor-search__clear, .qor-search.is-focused .qor-search__clear,
  .qor-global-search.is-dirty .qor-search__clear,
  .qor-global-search.is-focused .qor-search__clear {
    right: -7px;
    display: block; }

.qor-field__label {
  display: block;
  max-width: 100%;
  font-size: 12px;
  color: rgba(0,0,0, 0.54);
  font-weight: 500; }

.qor-field__value {
  display: block;
  padding: 4px 0; }

.qor-field__input {
  width: 100%; }

.qor-field__block {
  display: block;
  padding-bottom: 20px;
  position: relative; }

.chosen-container {
  margin-top: 8px; }

.qor-field__show {
  display: none;
  margin-top: 8px;
  margin-bottom: 20px; }

[data-upgraded] > .qor-field__show {
  margin-bottom: 0; }

.qor-page__show .qor-field__show {
  display: block; }

.qor-page__show .qor-field__edit,
.qor-page__show .qor-fieldset__delete,
.qor-page__show .qor-fieldset__add {
  display: none; }

.qor-page__edit .qor-field__show {
  display: none; }

.qor-page__edit .qor-field__edit,
.qor-page__edit .qor-fieldset__delete {
  display: block; }

.qor-page__edit .qor-fieldset__add {
  display: inline-block; }
  .qor-page__edit .qor-fieldset__add.mdl-menu__item {
    display: block; }

button.qor-fieldset__add,
.qor-fieldset__add-promotion,
.qor-button__icon-add {
  font-size: 12px;
  padding: 0; }
  button.qor-fieldset__add:hover, button.qor-fieldset__add:active, button.qor-fieldset__add:focus:not(:active),
  .qor-fieldset__add-promotion:hover,
  .qor-fieldset__add-promotion:active,
  .qor-fieldset__add-promotion:focus:not(:active),
  .qor-button__icon-add:hover,
  .qor-button__icon-add:active,
  .qor-button__icon-add:focus:not(:active) {
    background: none; }

.qor-field {
  padding-top: 4px;
  padding-bottom: 4px; }
  .qor-field.is-error {
    margin-bottom: 16px; }
    .qor-field.is-error .qor-field__label,
    .qor-field.is-error .qor-field__error,
    .qor-field.is-error .mdl-textfield__label {
      color: rgb(255,64,129); }
    .qor-field.is-error .qor-field__error {
      display: block;
      font-size: 12px; }
      .qor-field.is-error .qor-field__error > i {
        font-size: 18px;
        vertical-align: top; }
      .qor-field.is-error .qor-field__error > span + span {
        margin-left: 8px; }
    .qor-field.is-error .mdl-textfield + .qor-field__error,
    .qor-field.is-error .qor-field__block + .qor-field__error {
      margin-top: -16px; }
  .qor-field .mdl-textfield__label {
    font-weight: 500; }
  .qor-field .mdl-checkbox__label {
    font-size: 14px; }

.qor-field .mdl-textfield__label {
  color: rgba(0,0,0, 0.54);
  font-size: 12px;
  top: 4px; }

.qor-field .mdl-textfield__input {
  font-size: 14px; }

.qor-field .mdl-textfield.is-dirty .mdl-textfield__label,
.qor-field .mdl-textfield.has-placeholder .mdl-textfield__label {
  visibility: visible; }

.qor-textfield--condensed {
  padding-top: 0;
  padding-bottom: 0; }
  .qor-textfield--condensed .mdl-textfield__label {
    top: 0;
    font-size: 14px; }
    .qor-textfield--condensed .mdl-textfield__label:after {
      bottom: 0; }
  .qor-textfield--condensed .mdl-textfield__input {
    font-size: 14px; }

.qor-file {
  position: relative;
  display: block;
  margin-top: 8px; }
  .qor-file.is-svg .qor-file__list > ul > li {
    text-align: center; }
    .qor-file.is-svg .qor-file__list > ul > li img {
      display: inline-block;
      max-width: 90%; }

.qor-file__list {
  overflow: hidden; }
  .qor-file__list > ul {
    margin-top: 12px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none; }
    .qor-file__list > ul > li {
      position: relative;
      float: left;
      display: block;
      width: 150px;
      height: 150px;
      margin-right: 10px;
      margin-bottom: 10px;
      border: 1px solid rgba(0,0,0, 0.12);
      background-color: rgb(255,255,255);
      overflow: hidden; }
      .qor-file__list > ul > li > span {
        position: absolute;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        background-color: rgba(255,255,255, 0.5); }
        .qor-file__list > ul > li > span:first-letter {
          text-transform: uppercase; }
      .qor-file__list > ul > li img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 160px; }
  .qor-file__list .qor-file__list-item {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 80px;
    border: 1px solid rgba(0,0,0, 0.12);
    background-color: rgb(255,255,255);
    margin-top: 12px; }
    .qor-file__list .qor-file__list-item .qor-file__action {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      top: 0;
      z-index: 1;
      display: block;
      padding: 5px;
      font-size: 12px;
      text-align: center;
      background-color: rgba(0,0,0, 0.75);
      opacity: 0; }
      .qor-file__list .qor-file__list-item .qor-file__action a {
        display: inline-block;
        color: #fff;
        width: 48px;
        height: 48px;
        margin-top: 16%; }
        .qor-file__list .qor-file__list-item .qor-file__action a:hover i {
          color: rgb(3,169,244); }
    .qor-file__list .qor-file__list-item:hover .qor-file__action {
      opacity: 1; }
    .qor-file__list .qor-file__list-item > span {
      display: flex;
      font-size: 12px;
      align-items: center;
      line-height: 1.1;
      height: 80px; }
      .qor-file__list .qor-file__list-item > span img {
        display: block;
        margin: auto;
        max-height: 80px; }
      .qor-file__list .qor-file__list-item > span span {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        padding: 0 12px;
        text-align: center;
        word-break: break-all; }

.qor-fieldset {
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff; }
  .qor-fieldset.qor-fieldset--new {
    display: none; }
  .qor-fieldset .mdl-textfield__input {
    margin-top: 10px; }
  .qor-fieldset .qor-fieldset {
    background-color: rgb(250,250,250);
    box-shadow: none;
    border: 1px solid rgba(0,0,0, 0.12); }
    .qor-fieldset .qor-fieldset .qor-fieldset {
      background-color: #fff; }
      .qor-fieldset .qor-fieldset .qor-fieldset .qor-fieldset {
        background-color: rgb(250,250,250); }

.qor-fieldset__delete {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2; }

.qor-fieldset__alert {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center; }

.qor-section-columns-2 .qor-field {
  width: 50%;
  float: left;
  padding-right: 40px;
  box-sizing: border-box; }
  .qor-section-columns-2 .qor-field .mdl-textfield .qor-field__edit {
    margin-top: 14px; }

.qor-section-columns-3 .qor-field {
  width: 33.33%;
  float: left;
  padding-right: 20px;
  box-sizing: border-box; }

.promotion-coupons .qor-section-columns-3 .qor-field:first-child {
  width: 50%; }
  .promotion-coupons .qor-section-columns-3 .qor-field:first-child .mdl-textfield {
    width: 100% !important; }

.promotion-coupons .qor-section-columns-3 .qor-field:last-child {
  margin-top: 36px; }

.promotion-coupons .qor-section-columns-3 .qor-field:nth-child(2) {
  width: 60px; }
  .promotion-coupons .qor-section-columns-3 .qor-field:nth-child(2) .mdl-textfield__label {
    overflow: inherit; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(0,0,0, 0.12); }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(0,0,0, 0.12);
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0,0,0, 0.12); }

.mdl-checkbox__label {
  line-height: 22px; }

.mdl-checkbox {
  height: auto;
  margin-bottom: 12px; }

/* qor select one,many layout */
.qor-field__selectone {
  padding-top: 10px; }
  .qor-field__selectone .qor-field__selectone-trigger {
    font-size: 12px;
    padding: 0; }
    .qor-field__selectone .qor-field__selectone-trigger:hover, .qor-field__selectone .qor-field__selectone-trigger:active, .qor-field__selectone .qor-field__selectone-trigger:focus:not(:active) {
      background: none; }
  .qor-field__selectone .qor-field__selected {
    padding-top: 10px;
    margin: 0; }
    .qor-field__selectone .qor-field__selected > span,
    .qor-field__selectone .qor-field__selected > a {
      display: inline-block;
      vertical-align: middle; }
    .qor-field__selectone .qor-field__selected > span {
      font-size: 16px;
      color: #2196f3;
      cursor: pointer; }
    .qor-field__selectone .qor-field__selected > a {
      color: rgba(0,0,0, 0.54);
      font-size: 14px;
      line-height: 1;
      margin-left: 8px; }

.qor-field__selectmany .qor-field__selectmany-trigger {
  font-size: 12px;
  padding: 0; }
  .qor-field__selectmany .qor-field__selectmany-trigger:hover, .qor-field__selectmany .qor-field__selectmany-trigger:active, .qor-field__selectmany .qor-field__selectmany-trigger:focus:not(:active) {
    background: none; }

.qor-field__selectmany .qor-field__selected-many {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0; }
  .qor-field__selectmany .qor-field__selected-many > li {
    border: #e0e1e2 1px solid;
    background-color: #f8f9fa;
    border-radius: 2px;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 6px 6px 0;
    line-height: 1;
    padding: 4px 8px;
    font-size: 12px; }
    .qor-field__selectmany .qor-field__selected-many > li > span,
    .qor-field__selectmany .qor-field__selected-many > li > a {
      display: inline-block;
      vertical-align: middle; }
    .qor-field__selectmany .qor-field__selected-many > li > a {
      color: rgba(0,0,0, 0.26);
      line-height: 1;
      margin-left: 8px; }
      .qor-field__selectmany .qor-field__selected-many > li > a i {
        width: 14px;
        height: 14px;
        font-size: 14px; }
    .qor-field__selectmany .qor-field__selected-many > li .qor-selected-many__undo {
      color: #03a9f4;
      padding: 2px;
      text-decoration: none;
      display: none; }
    .qor-field__selectmany .qor-field__selected-many > li.qor-selected-many__deleted {
      background-color: #f2f2f2; }
      .qor-field__selectmany .qor-field__selected-many > li.qor-selected-many__deleted span {
        text-decoration: line-through;
        color: rgba(0,0,0, 0.26); }
      .qor-field__selectmany .qor-field__selected-many > li.qor-selected-many__deleted .qor-selected-many__remove {
        display: none; }
      .qor-field__selectmany .qor-field__selected-many > li.qor-selected-many__deleted .qor-selected-many__undo {
        display: inline-block; }

/* qor select one,many bottomsheets layout */
.qor-bottomsheets .qor-select__select-icon {
  position: absolute;
  left: -32px;
  top: 50%;
  margin-top: -10px;
  color: rgba(0,0,0, 0.26); }
  .qor-bottomsheets .qor-select__select-icon i {
    color: rgba(0,0,0, 0.26); }

.qor-bottomsheets tr.is_selected .qor-select__select-icon {
  color: rgb(3,169,244); }
  .qor-bottomsheets tr.is_selected .qor-select__select-icon i {
    color: rgb(3,169,244); }

.qor-bottomsheets .qor-selectmany__hint {
  font-size: 14px;
  position: fixed;
  z-index: 900;
  padding: 12px 12px 12px 54px;
  margin-top: -11px;
  box-sizing: border-box;
  background-color: #fff;
  width: 640px; }
  .qor-bottomsheets .qor-selectmany__hint > span {
    float: left; }
    .qor-bottomsheets .qor-selectmany__hint > span.qor-selectmany__selectall {
      margin-right: 12px;
      cursor: pointer;
      color: rgb(3,169,244); }
  .qor-bottomsheets .qor-selectmany__hint > a {
    float: right;
    text-decoration: none; }

.qor-bottomsheets .qor-page__header {
  position: fixed;
  top: auto;
  width: 640px;
  box-shadow: none;
  padding: 13px 0 0 54px;
  margin: -56px 0 0 0;
  background-color: #fff; }
  .qor-bottomsheets .qor-page__header > div:not(.qor-bottomsheet__filter) {
    display: none; }
  .qor-bottomsheets .qor-page__header .qor-actions {
    padding: 0;
    margin-right: 6px; }
    .qor-bottomsheets .qor-page__header .qor-actions:last-child {
      margin-right: 0; }

.qor-bottomsheets .has-hint .qor-selectmany__hint {
  margin-top: -56px; }

.qor-bottomsheets .has-hint.has-header .qor-page__header {
  margin: -100px 0 0; }

.qor-bottomsheets .has-hint.has-header .qor-selectmany__hint {
  margin-top: -55px; }

.qor-button--small {
  height: 32px;
  line-height: 32px; }

.qor-button--new,
.qor-button--edit {
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 3;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.qor-button--accent {
  color: #fff;
  background-color: rgb(255,64,129) !important; }

.qor-button--muted {
  color: rgba(0,0,0, 0.54); }

.qor-label {
  display: inline;
  padding: 1px 8px;
  border: 1px solid rgba(0,0,0, 0.12);
  font-size: 12px;
  line-height: 1;
  background-color: #fff;
  color: rgba(0,0,0, 0.26);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em; }
  .qor-label.is-active {
    border-color: rgba(3,169,244, 0.87);
    color: rgb(3,169,244); }

table {
  border-spacing: 0; }

.mdl-data-table--selectable td:first-of-type,
.mdl-data-table--selectable th:first-of-type {
  text-align: left; }

.qor-table {
  width: calc(100% - 48px);
  border: 0;
  margin: 0 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .qor-table::before {
    content: ' ';
    position: absolute;
    z-index: 0;
    top: -5px;
    left: -5px;
    right: -5px;
    height: 54px;
    background-color: #f5f5f5; }
  .qor-table td {
    border-top-color: #ededed;
    border-bottom-color: #ededed;
    font-size: 14px; }
  .qor-table thead {
    z-index: 10;
    position: relative; }
    .qor-table thead th {
      background-color: #f5f5f5;
      font-size: 14px;
      font-weight: 400; }
      .qor-table thead th.qor-table__actions {
        width: 80px; }
  .qor-table a:not([class*='mdl-button']) {
    color: rgba(0,0,0, 0.87);
    font-weight: 400; }
  .qor-table tbody tr {
    position: static; }
    .qor-table tbody tr:hover {
      background-color: #e8f8ff; }
    .qor-table tbody tr.is-selected {
      background-color: rgba(255, 200, 60, 0.32); }
  .qor-table img {
    width: auto !important;
    height: 24px !important;
    max-height: 24px !important;
    max-width: 54px !important; }
  .qor-table.is-sortable > thead > tr > th[data-order-by] {
    text-decoration: underline;
    cursor: pointer; }
  .qor-table.is-sortable > thead > tr > th.is-sorted {
    color: rgb(0,0,0);
    font-weight: 500; }
    .qor-table.is-sortable > thead > tr > th.is-sorted[data-order-by]::after {
      margin-left: 8px;
      font-size: 14px;
      content: '\e164';
      vertical-align: middle; }
    .qor-table.is-sortable > thead > tr > th.is-sorted[data-order-by*='desc']::after {
      transform: scaleY(-1); }

.qor-theme-publish .qor-table {
  margin-left: 0; }

.qor-table__content {
  max-width: 300px;
  max-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .qor-table__content p {
    max-width: 3000px;
    max-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px; }

.qor-table__actions {
  text-align: center !important; }
  .qor-table__actions .mdl-menu {
    min-width: 160px; }
  .qor-table__actions .mdl-button {
    margin: -4px 0; }
    .qor-table__actions .mdl-button + .mdl-button {
      margin-left: 8px; }
  .qor-table__actions .mdl-menu__item a {
    color: rgba(0,0,0, 0.87);
    text-decoration: none;
    height: 48px;
    line-height: 48px; }

.qor-table-container {
  position: relative;
  margin-top: 24px;
  z-index: 2; }

.qor-table--medialibrary {
  margin-left: 24px;
  width: calc(100% - 48px); }
  .qor-table--medialibrary .qor-sorting__hover td {
    border: 0; }
  .qor-table--medialibrary .qor-sorting__hover .mdl-card {
    border: 2px solid #0277bd; }
  .qor-table--medialibrary.mdl-data-table--selectable th {
    text-align: left; }
  .qor-table--medialibrary.mdl-data-table--selectable tbody tr td:first-child {
    position: absolute;
    z-index: 2;
    margin: 8px 0 0 10px; }
  .qor-table--medialibrary .mdl-card {
    width: 200px; }
    .qor-table--medialibrary .mdl-card .mdl-card__menu {
      right: 4px;
      top: 8px;
      z-index: 10; }
    .qor-table--medialibrary .mdl-card:hover .mdl-button {
      background-color: rgba(158, 158, 158, 0.5); }
  .qor-table--medialibrary .mdl-card__supporting-text {
    width: auto;
    padding: 0; }
    .qor-table--medialibrary .mdl-card__supporting-text > p {
      margin-bottom: 8px;
      padding: 0 16px;
      line-height: 1.2; }
      .qor-table--medialibrary .mdl-card__supporting-text > p:last-child {
        margin-bottom: 16px; }
      .qor-table--medialibrary .mdl-card__supporting-text > p[data-heading*='BannerEditorUrl'] {
        display: none; }
      .qor-table--medialibrary .mdl-card__supporting-text > p[data-heading*='Name'], .qor-table--medialibrary .mdl-card__supporting-text > p[data-heading*='name'] {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 8px; }
      .qor-table--medialibrary .mdl-card__supporting-text > p[data-heading*='Image'], .qor-table--medialibrary .mdl-card__supporting-text > p[data-heading*='image'], .qor-table--medialibrary .mdl-card__supporting-text > p[data-heading*='File'], .qor-table--medialibrary .mdl-card__supporting-text > p[data-heading*='file'], .qor-table--medialibrary .mdl-card__supporting-text > p.qor-table--video {
        padding: 0;
        height: 200px;
        overflow: hidden;
        line-height: 200px;
        margin-bottom: 0;
        text-align: center; }
      .qor-table--medialibrary .mdl-card__supporting-text > p .qor-table--medialibrary-file {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 200px; }
        .qor-table--medialibrary .mdl-card__supporting-text > p .qor-table--medialibrary-file a {
          padding: 0 32px;
          line-height: initial;
          word-wrap: break-word;
          word-break: break-word;
          text-align: center; }
  .qor-table--medialibrary > tbody > tr {
    vertical-align: top;
    display: inline-flex; }
    .qor-table--medialibrary > tbody > tr td {
      padding-right: 16px;
      padding-bottom: 16px; }
  .qor-table--medialibrary img {
    max-width: 100%;
    margin: 0 auto; }

.qor-table-fixed-header > thead {
  position: fixed;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 0;
  z-index: 20; }

.mdl-data-table td .mdl-data-table__select.mdl-checkbox {
  margin-bottom: 22px; }

.qor-search-center-menu {
  content: "\e8b6"; }

.qor-menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }
  .qor-menu > li > a {
    display: block;
    padding: 8px 40px;
    font-weight: 500;
    color: #000;
    overflow: hidden;
    text-decoration: none; }
    .qor-menu > li > a:hover, .qor-menu > li > a:focus {
      background-color: rgba(0,0,0, 0.12);
      text-decoration: none; }
  .qor-menu > li > ul > li > a {
    padding: 4px 16px 4px 40px;
    font-weight: normal; }
  .qor-menu > .active > a,
  .qor-menu > .active > a:hover,
  .qor-menu > .active > a:focus,
  .qor-menu > .active:hover > a,
  .qor-menu > .active:hover > a:hover,
  .qor-menu > .active:hover > a:focus {
    color: rgb(3,169,244);
    cursor: default; }

.qor-menu-container {
  padding-top: 8px;
  padding-bottom: 8px; }
  .qor-menu-container > ul > li > a {
    position: relative; }
    .qor-menu-container > ul > li > a::before, .qor-menu-container > ul > li > a::after {
      position: absolute;
      text-align: center;
      color: inherit; }
    .qor-menu-container > ul > li > a::before {
      left: 8px; }
    .qor-menu-container > ul > li > a::after {
      right: 8px; }
  .qor-menu-container > ul > .has-menu > a::after {
    content: "\e5ce"; }
  .qor-menu-container > ul > .is-expanded > a::after {
    content: "\e5cf"; }

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
  background-color: #fff; }

.qor-icon__unread_count {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  z-index: 2;
  font-size: 10px;
  background-color: #ff4081;
  color: #fff; }

[qor-icon-name] > a, [qor-icon-name] > span {
  display: block;
  padding: 0 20px 0 40px;
  position: relative; }
  [qor-icon-name] > a::before, [qor-icon-name] > a::after, [qor-icon-name] > span::before, [qor-icon-name] > span::after {
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: inherit; }

[qor-icon-name].mdl-menu__item {
  padding: 0; }

[qor-icon-name="Delete"] > a::before {
  content: "\e872"; }

[qor-icon-name="Edit"] > a::before {
  content: "\e254"; }

[qor-icon-name] > a::before, [qor-icon-name] > a::after, [qor-icon-name] > span::before, [qor-icon-name] > span::after {
  top: 50%;
  margin-top: -12px; }

[qor-icon-name] > a::before, [qor-icon-name] > span::before {
  left: 8px; }

[qor-icon-name] > a::after, [qor-icon-name] > span::after {
  right: 8px;
  left: auto; }

[qor-icon-name*="Dashboard"] > a::before {
  content: "\e871"; }

[qor-icon-name*="Asset"] > a::before {
  content: "\e2c7"; }

[qor-icon-name*="Product"] > a::before {
  content: "\e1db"; }

[qor-icon-name*="Site"] > a::before {
  content: "\e051"; }

[qor-icon-name*="Store"] > a::before {
  content: "\e8d1"; }

[qor-icon-name*="Newsletter"] > a::before, [qor-icon-name*="Email"] > a::before {
  content: "\e0be"; }

[qor-icon-name*="Translate"] > a::before, [qor-icon-name*="Translation"] > a::before {
  content: "\e8e2"; }

[qor-icon-name*="Report"] > a::before, [qor-icon-name*="Chart"] > a::before {
  content: "\e24b"; }

[qor-icon-name*="Order"] > a::before {
  content: "\e8cc"; }

[qor-icon-name*="User"] > a::before {
  content: "\e7fd"; }

[qor-icon-name*="Translation"] > a::before {
  content: "\e894"; }

[qor-icon-name*="Publish"] > a::before {
  content: "\e255"; }

[qor-icon-name*="Setting"] > a::before {
  content: "\e8b8"; }

[qor-icon-name*="Search"] > a::before, [qor-icon-name*="Search"] > span::before {
  content: "\e8b6"; }

[qor-icon-name*="Client Services"] > a::before {
  content: "\e5c3"; }

[qor-icon-name*="Transaction Logs"] > a::before {
  content: "\e889"; }

[qor-icon-name*="Notification"] > a::before {
  content: "\e7f4"; }

[qor-icon-name*="Widget"] > a::before {
  content: "\e30d"; }

[qor-icon-name*="Workers"] > a::before {
  content: "\e8f9"; }

[qor-icon-name*="Public keys"] > a::before {
  content: "\e897"; }

[qor-icon-name] [qor-icon-name] > a::before {
  content: " " !important; }

.qor-alert {
  padding: 24px 48px 0 24px;
  line-height: 24px;
  color: rgb(97,97,97);
  background-color: rgb(245,245,245);
  position: fixed;
  z-index: 99999;
  margin: 0;
  left: 50%;
  top: 0;
  transform: translate(-50%, -110%);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  will-change: transform;
  transition: transform 0.25s cubic-bezier(0.4, 0, 1, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .qor-alert:before, .qor-alert:after {
    content: " ";
    display: table; }
  .qor-alert:after {
    clear: both; }
  .qor-alert.qor-alert__active {
    transform: translate(-50%, 0); }
  .qor-alert > button {
    position: absolute;
    right: 5px;
    top: 9px;
    z-index: 1; }
  .qor-alert .qor-alert-message {
    padding-bottom: 24px; }

.qor-alert--success {
  color: rgb(25,118,210);
  background-color: rgb(187,222,251); }

.qor-alert--error {
  color: rgb(194,24,91);
  background-color: rgb(248,187,208); }

.mdl-dialog-bg {
  position: fixed;
  background: rgba(0,0,0, 0.54);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998; }

.qor-error {
  background-color: #fff;
  list-style: none; }
  .qor-error > li {
    position: relative;
    display: block;
    margin-bottom: 0;
    padding-left: 32px;
    line-height: 1.3;
    font-weight: normal;
    margin-bottom: 24px;
    color: rgb(255,64,129); }
    .qor-error > li + li {
      margin-top: -1px; }
    .qor-error > li > i {
      position: absolute;
      top: -3px;
      left: -5px;
      vertical-align: top; }
    .qor-error > li > span {
      padding-right: 24px; }

.qor-modal .qor-error {
  margin: 24px 0; }

#dialog {
  display: none; }
  #dialog .mdl-dialog {
    position: absolute;
    left: 0;
    right: 0;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    margin: auto;
    padding: 1em;
    background: white;
    color: black;
    display: block;
    z-index: 9999;
    top: 200px;
    max-width: 50%;
    min-width: 30%;
    border: 2px solid rgba(0, 0, 0, 0.05); }
    #dialog .mdl-dialog .mdl-dialog__content > p {
      display: inline-block;
      vertical-align: top;
      margin: 0;
      width: 40px; }
      #dialog .mdl-dialog .mdl-dialog__content > p.mdl-dialog__message {
        padding: 2px 0 0 16px;
        width: calc(100% - 100px); }
      #dialog .mdl-dialog .mdl-dialog__content > p i {
        font-size: 32px;
        color: #ff0600; }
    #dialog .mdl-dialog button[data-type='cancel'] {
      color: rgba(0,0,0, 0.54); }
    #dialog .mdl-dialog .mdl-dialog__content {
      color: rgba(0,0,0, 0.75); }

.mdl-button {
  font-size: 12px; }

.qor-actions {
  float: left;
  min-height: 32px;
  margin-right: 8px;
  padding: 8px 0; }
  .qor-actions:before, .qor-actions:after {
    content: " ";
    display: table; }
  .qor-actions:after {
    clear: both; }
  .qor-actions:first-child .qor-selector {
    margin-left: 0;
    margin-right: 10px; }
  .qor-actions:last-child {
    margin-right: 0; }
  .qor-actions .mdl-button {
    padding: 0 8px; }
  .qor-actions .qor-selector,
  .qor-actions .qor-action--text,
  .qor-actions .qor-action--label,
  .qor-actions .qor-action--select,
  .qor-actions .qor-action--button {
    float: left; }

.qor-action--select {
  height: 32px;
  border: 2px solid rgb(3,169,244); }

.qor-action--label {
  display: inline-block;
  height: 28px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  line-height: 28px;
  color: rgba(0,0,0, 0.54);
  background-color: #fff;
  border: 2px solid rgba(0,0,0, 0.12);
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none; }
  .qor-action--label:hover, .qor-action--label:focus {
    text-decoration: none;
    color: rgba(0,0,0, 0.54); }
  .qor-action--label.is-active {
    padding-right: 0;
    color: rgba(0,0,0, 0.87);
    border-color: rgb(3,169,244); }
  .qor-action--label > i {
    display: inline-block;
    width: 30px;
    height: 28px;
    margin-left: 6px;
    padding-left: 2px;
    font-size: 16px;
    line-height: 28px;
    background-color: rgb(3,169,244);
    color: #fff;
    text-align: center;
    vertical-align: top; }
  .qor-action--label + .qor-action--select,
  .qor-action--label + .qor-action--label {
    margin-left: 8px; }

.qor-action-bulk-buttons,
.qor-action-forms {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 0; }

.qor-action--button {
  height: 32px;
  line-height: 32px; }
  .qor-action--button + .qor-action--button {
    margin-left: 8px; }

.qor-action-bulk-edit {
  float: left;
  margin-right: 16px; }

.qor-action-forms {
  padding-bottom: 0; }
  .qor-action-forms .qor-form__actions {
    margin-top: 0; }
  .qor-action-forms > .qor-action-button {
    margin-right: 24px;
    margin-bottom: 8px; }
  .qor-action-forms > .action-form {
    margin-right: 24px; }
  .qor-action-forms > .action-form,
  .qor-action-forms .qor-form-section,
  .qor-action-forms .qor-form__actions {
    display: inline-block;
    vertical-align: baseline; }
  .qor-action-forms .qor-form__actions .mdl-button {
    float: none; }

.qor-section {
  margin: 24px; }
  .qor-section.qor-section__table {
    margin: 24px 0; }
    .qor-section.qor-section__table .qor-section__header {
      margin-left: 24px; }
  .qor-section > .qor-table-container {
    margin: 0; }

.qor-section__header {
  margin-bottom: 8px; }

.qor-section-title {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 32px;
  color: rgba(0,0,0, 0.68); }

.qor-section__col {
  margin-bottom: 32px; }
  .qor-section__col .qor-section-title {
    font-size: 16px;
    margin-top: 16px;
    padding-left: 24px; }

.qor-pagination-container {
  margin: 24px; }
  .qor-pagination-container .qor-selector {
    z-index: 10; }
  .qor-pagination-container .qor-actions {
    float: left;
    margin: 0 16px;
    padding: 0; }
  .qor-pagination-container .qor-pagination-first,
  .qor-pagination-container .qor-pagination-last {
    float: left;
    text-decoration: none;
    height: 32px;
    line-height: 32px; }

.qor-pagination {
  float: left;
  margin: 0 16px;
  padding: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .qor-pagination > li {
    display: inline; }
    .qor-pagination > li .material-icons, .qor-pagination > li .qor-table.is-sortable > thead > tr > th.is-sorted[data-order-by]::after, .qor-pagination > li [qor-icon-name] > a::before, .qor-pagination > li [qor-icon-name] > a::after, .qor-pagination > li [qor-icon-name] > span::before, .qor-pagination > li [qor-icon-name] > span::after, .qor-pagination > li [data-toggle='qor.tab'] .qor-layout__tab-right:after, [data-toggle='qor.tab'] .qor-pagination > li .qor-layout__tab-right:after, .qor-pagination > li [data-toggle='qor.tab'] .qor-layout__tab-left:after, [data-toggle='qor.tab'] .qor-pagination > li .qor-layout__tab-left:after {
      line-height: 32px; }
    .qor-pagination > li > a,
    .qor-pagination > li > span {
      position: relative;
      float: left;
      min-width: 32px;
      height: 32px;
      font-size: 14px;
      line-height: 32px;
      text-align: center;
      color: #333;
      text-decoration: none;
      background-color: #fff; }
      .qor-pagination > li > a > span,
      .qor-pagination > li > span > span {
        line-height: inherit; }
  .qor-pagination > li > a:hover, .qor-pagination > li > a:focus,
  .qor-pagination > li > span:hover,
  .qor-pagination > li > span:focus {
    color: rgb(rgb(3,169,244));
    background-color: #eee; }
  .qor-pagination > .active > a, .qor-pagination > .active > a:hover, .qor-pagination > .active > a:focus,
  .qor-pagination > .active > span,
  .qor-pagination > .active > span:hover,
  .qor-pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: rgb(3,169,244); }
  .qor-pagination > .disabled > span,
  .qor-pagination > .disabled > span:hover,
  .qor-pagination > .disabled > span:focus,
  .qor-pagination > .disabled > a,
  .qor-pagination > .disabled > a:hover,
  .qor-pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd; }

.qor-pagination-all {
  float: left;
  display: block;
  height: 32px;
  margin-left: 16px;
  font-size: 12px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(3,169,244); }

[data-toggle='qor.tab'] {
  margin: 0 -24px; }
  [data-toggle='qor.tab'] .qor-page-subnav__header {
    margin: 0; }
  [data-toggle='qor.tab'] .qor-layout__tab-bar-container {
    position: relative;
    height: 48px;
    width: 100%;
    border: none;
    margin: 0;
    z-index: 2;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden; }
  [data-toggle='qor.tab'] .qor-layout__tab-right, [data-toggle='qor.tab'] .qor-layout__tab-left {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    background-color: #0277bd; }
    [data-toggle='qor.tab'] .qor-layout__tab-right:after, [data-toggle='qor.tab'] .qor-layout__tab-left:after {
      content: '\E409';
      color: #fff;
      line-height: 48px;
      width: 48px;
      text-align: center; }
  [data-toggle='qor.tab'] .qor-layout__tab-left {
    right: auto;
    left: 0; }
    [data-toggle='qor.tab'] .qor-layout__tab-left:after {
      content: '\E408'; }
  [data-toggle='qor.tab'] .qor-layout__tab-container {
    margin: 0;
    width: auto;
    overflow: initial; }
    [data-toggle='qor.tab'] .qor-layout__tab-container .mdl-layout__tab-bar-button {
      display: none; }
  [data-toggle='qor.tab'] .qor-layout__tab-header {
    min-height: 48px;
    height: 48px;
    background-color: rgb(3,169,244); }
    [data-toggle='qor.tab'] .qor-layout__tab-header .mdl-layout__tab-bar-container {
      height: 48px; }
    [data-toggle='qor.tab'] .qor-layout__tab-header .mdl-layout__tab {
      height: 48px;
      line-height: 48px; }
  [data-toggle='qor.tab'] .qor-layout__tab-bar {
    height: 96px;
    margin: 0;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    padding: 0 0 0 24px;
    overflow-y: hidden;
    overflow-x: scroll; }
  [data-toggle='qor.tab'] .qor-layout__tab-bar::-webkit-scrollbar {
    display: none; }
  [data-toggle='qor.tab'] .mdl-layout--no-drawer-button .qor-layout__tab-bar {
    padding-left: 16px;
    width: calc(100% - 32px); }
  [data-toggle='qor.tab'] .qor-layout__tab-button {
    margin: 0;
    border: none;
    padding: 0 24px;
    float: left;
    position: relative;
    display: block;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    overflow: hidden; }
    [data-toggle='qor.tab'] .qor-layout__tab-button.is-active {
      color: #fff; }
      [data-toggle='qor.tab'] .qor-layout__tab-button.is-active::after {
        height: 2px;
        width: 100%;
        display: block;
        content: " ";
        bottom: 0;
        left: 0;
        position: absolute;
        background: #fff;
        -webkit-animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
        animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
        transition: all 1s cubic-bezier(0.4, 0, 1, 1); }
  [data-toggle='qor.tab'] .mdl-layout--fixed-tabs .qor-layout__tab {
    float: none;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0; }

/* Style for slideout */
.qor-slideout .qor-layout__tab-right, .qor-slideout .qor-layout__tab-left {
  background-color: rgb(3,169,244); }

.qor-slideout .qor-layout__tab-spinner {
  margin: 60px auto; }

.qor-slideout .qor-layout__tab-left {
  right: auto;
  left: 0; }
  .qor-slideout .qor-layout__tab-left:after {
    content: '\E408'; }

.qor-slideout .qor-layout__tab .qor-layout__tab-container {
  margin: -16px 0; }

.qor-slideout .qor-layout__tab .qor-layout__tab-content {
  padding: 0 24px; }

.qor-slideout .qor-layout__tab .qor-layout__tab-container {
  margin: -16px -24px; }

.qor-slideout .qor-layout__tab .qor-layout__tab-bar {
  background-color: rgb(3,169,244);
  padding: 0; }

.qor-slideout .qor-layout__tab-header {
  position: static;
  margin: -16px -24px 0;
  width: auto;
  background-color: rgb(3,169,244); }
  .qor-slideout .qor-layout__tab-header + .qor-layout__tab-content {
    margin-top: 0; }

.qor-slideout [data-toggle='qor.tab'] .qor-page-subnav__header {
  margin: 0;
  background-color: #03a9f4;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.12); }

.qor-layout__tab-content {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow: initial; }
  .qor-layout__tab-content .mdl-layout__tab-panel {
    padding: 16px 24px; }

@media screen and (min-width: 1025px) {
  .qor-layout--no-desktop-drawer-button .qor-layout__tab-bar {
    padding-left: 16px;
    width: calc(100% - 32px); } }

@media screen and (max-width: 1024px) {
  .qor-layout__tab {
    padding: 0 12px; }
  .qor-layout__tab-bar {
    width: calc(100% - 60px);
    padding: 0 0 0 60px; }
  .qor-layout--no-drawer-button .qor-layout__tab-bar {
    width: calc(100% - 8px);
    padding-left: 4px; } }

/* radio tab layout */
.qor-tab__radio > label {
  margin-right: 24px; }

.clearfix:before, .qor-pagination-container:before, .clearfix:after, .qor-pagination-container:after {
  content: " ";
  display: table; }

.clearfix:after, .qor-pagination-container:after {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.center-text {
  text-align: center; }

.shown,
.is-shown {
  display: block !important; }

.hidden,
.is-hidden {
  display: none !important; }

.fade {
  opacity: 0;
  transition: opacity 0.2s linear; }
  .fade.in {
    opacity: 1; }

.collapse {
  display: none; }
  .collapse.in {
    display: block; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease; }

advanced-filter-group {
  display: block; }

/* mobile */
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .qor-action--select + .qor-selector {
    margin-bottom: 0 !important; }
  .qor-section-columns-2 .qor-field {
    width: 100%;
    float: none;
    padding-right: 0; }
  .qor-layout .mdl-layout__content {
    padding-top: 0 !important;
    padding-left: 0; }
  .qor-table {
    margin: 0; }
    .qor-table .is-fixed {
      display: none; }
  .qor-section {
    margin: 24px 0; }
    .qor-section .qor-section__header {
      margin-left: 24px; }
  .qor-page--dashboard .qor-table-container {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
    .qor-page--dashboard .qor-table-container th {
      background-color: transparent; }
  .qor-table-container {
    margin: 0 0 24px 0; }
    .qor-table-container th {
      background-color: #f5f5f5; }
    .qor-table-container .mdl-data-table {
      border-top: 0; }
  .qor-action--select + .qor-selector, .qor-action--select + .qor-action--label, .qor-action--select + .qor-action--select {
    margin-left: 0;
    margin-right: 8px;
    margin-bottom: 8px; }
  .mdl-textfield.is-dirty .mdl-textfield__expandable-holder, .mdl-textfield.is-focused .mdl-textfield__expandable-holder {
    max-width: 100px; }
  .qor-search {
    height: 56px !important;
    line-height: 56px !important; }
    .qor-search .qor-search__label {
      top: 13px !important; }
    .qor-search.is-focused {
      background-color: #0277bd;
      position: absolute;
      left: 54px;
      top: 0;
      right: 8px; }
    .qor-search .mdl-textfield__expandable-holder {
      width: calc(100% - 64px); }
  .qor-modal .mdl-card {
    margin: 24px auto; }
  .qor-form-container {
    margin: 0;
    padding: 16px; }
  .qor-page__header + .qor-page__body {
    padding-top: 8px; }
  /* Header */
  header .qor-mobile--show-actions {
    display: none; }
  header .mdl-layout__header-row {
    padding-left: 56px; }
    header .mdl-layout__header-row .qor-mobile--show-actions {
      color: #fff; }
  header .mdl-layout-title, header .mdl-layout__title {
    font-size: 16px; }
  header.has-action .qor-mobile--show-actions {
    display: inline-block; }
  header.has-search .qor-mobile--show-actions {
    margin-right: 16px; }
  .mdl-layout__container .qor-page__header {
    min-height: 0;
    background: transparent;
    margin-bottom: 2px; }
    .mdl-layout__container .qor-page__header > div {
      display: none; }
    .mdl-layout__container .qor-page__header.actions-show {
      background: #fff; }
      .mdl-layout__container .qor-page__header.actions-show > div {
        display: block; }
  .qor-table--medialibrary {
    margin-left: 12px;
    width: 100%; }
    .qor-table--medialibrary .mdl-card {
      width: 163px; }
    .qor-table--medialibrary tbody tr:nth-child(2n) td {
      padding-right: 0;
      padding-bottom: 0; }
  .qor-bottomsheets.is-shown {
    width: 100%;
    height: 100%;
    max-height: none;
    left: 0;
    right: 0;
    margin-left: 0; }
    .qor-bottomsheets.is-shown .qor-bottomsheets__search {
      display: none; }
    .qor-bottomsheets.is-shown .qor-button--new {
      right: 8px; } }

/* mobile: iphone 6p */
@media only screen and (min-width: 414px) and (max-width: 736px) {
  .qor-table--medialibrary {
    margin-left: 12px;
    width: 100%; }
    .qor-table--medialibrary .mdl-card {
      width: 180px; } }

/* iPad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .mdl-layout__header .qor-mobile--show-actions {
    display: none; } }

@media print {
  header.mdl-layout__header,
  .qor-layout__sidebar,
  .mdl-layout__drawer,
  a.qor-button--edit {
    display: none; }
  .qor-layout .mdl-layout__content {
    overflow: initial; }
  .mdl-layout--fixed-drawer > .mdl-layout__content {
    margin-left: 0;
    padding-left: 0; }
  .mdl-layout {
    display: block;
    overflow: initial; } }
