/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * STYLE GUIDE VARIABLES------------------Declarations of Sass variables
 * -----Typography
 * -----Colors
 * -----Textfield
 * -----Switch
 * -----Spinner
 * -----Radio
 * -----Menu
 * -----List
 * -----Layout
 * -----Icon toggles
 * -----Footer
 * -----Column
 * -----Checkbox
 * -----Card
 * -----Button
 * -----Animation
 * -----Progress
 * -----Badge
 * -----Shadows
 * -----Grid
 * -----Data table
 * -----Dialog
 * -----Snackbar
 *
 * Even though all variables have the `!default` directive, most of them
 * should not be changed as they are dependent one another. This can cause
 * visual distortions (like alignment issues) that are hard to track down
 * and fix.
 */
/* ==========  TYPOGRAPHY  ========== */
/* We're splitting fonts into "preferred" and "performance" in order to optimize
   page loading. For important text, such as the body, we want it to load
   immediately and not wait for the web font load, whereas for other sections,
   such as headers and titles, we're OK with things taking a bit longer to load.
   We do have some optional classes and parameters in the mixins, in case you
   definitely want to make sure you're using the preferred font and don't mind
   the performance hit.
   We should be able to improve on this once CSS Font Loading L3 becomes more
   widely available.
*/
/* ==========  COLORS  ========== */
/**
*
* Material design color palettes.
* @see http://www.google.com/design/spec/style/color.html
*
**/
/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* ==========  Color Palettes  ========== */
/* colors.scss */
/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* ==========  IMAGES  ========== */
/* ==========  Color & Themes  ========== */
/* ==========  Typography  ========== */
/* ==========  Components  ========== */
/* ==========  Standard Buttons  ========== */
/* ==========  Icon Toggles  ========== */
/* ==========  Radio Buttons  ========== */
/* ==========  Ripple effect  ========== */
/* ==========  Layout  ========== */
/* ==========  Content Tabs  ========== */
/* ==========  Checkboxes  ========== */
/* ==========  Switches  ========== */
/* ==========  Spinner  ========== */
/* ==========  Text fields  ========== */
/* ==========  Card  ========== */
/* ==========  Sliders ========== */
/* ========== Progress ========== */
/* ==========  List ========== */
/* ==========  Item ========== */
/* ==========  Dropdown menu ========== */
/* ==========  Tooltips  ========== */
/* ==========  Footer  ========== */
/* TEXTFIELD */
/* SWITCH */
/* SPINNER */
/* RADIO */
/* MENU */
/* LIST */
/* LAYOUT */
/* ICON TOGGLE */
/* FOOTER */
/*mega-footer*/
/*mini-footer*/
/* CHECKBOX */
/* CARD */
/* Card dimensions */
/* Cover image */
/* BUTTON */
/**
 *
 * Dimensions
 *
 */
/* ANIMATION */
/* PROGRESS */
/* BADGE */
/* SHADOWS */
/* GRID */
/* DATA TABLE */
/* DIALOG */
/* SNACKBAR */
/* TOOLTIP */
/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* Typography */
/* Shadows */
/* Animations */
/* Dialog */
.qor-modal.shown, .qor-modal.is-shown {
  display: block !important; }

.qor-modal.hidden, .qor-modal.is-hidden {
  display: none !important; }

.qor-modal.fade {
  opacity: 0;
  transition: opacity .2s linear; }
  .qor-modal.fade.in {
    opacity: 1; }

.qor-actions__filter-time {
  position: relative; }
  .qor-actions__filter-time a {
    text-decoration: none; }
  .qor-actions__filter-time .qor-field__datetimepicker .qor-action__datepicker,
  .qor-actions__filter-time .qor-field__datetimepicker .qor-action__timepicker {
    bottom: auto;
    top: 12px; }
  .qor-actions__filter-time input {
    font-size: 14px; }
  .qor-actions__filter-time .qor-filter__block {
    position: absolute;
    top: 40px;
    left: 0;
    min-width: 240px;
    background-color: #fff;
    padding: 12px;
    z-index: 2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
    .qor-actions__filter-time .qor-filter__block > .qor-field__label {
      margin-top: 16px;
      padding-left: 16px;
      padding-bottom: 6px; }
  .qor-actions__filter-time .qor-field__datetimepicker {
    padding-left: 16px;
    margin-top: -10px; }
  .qor-actions__filter-time .qor-filter__block-buttons {
    border-bottom: 1px solid rgba(0,0,0, 0.24); }
    .qor-actions__filter-time .qor-filter__block-buttons .qor-field__label {
      padding-left: 16px;
      padding-bottom: 6px; }
    .qor-actions__filter-time .qor-filter__block-buttons .qor-filter__block-events {
      padding-top: 12px;
      border-top: 1px solid rgba(0,0,0, 0.24); }
    .qor-actions__filter-time .qor-filter__block-buttons button {
      font-size: 12px;
      margin-bottom: 6px;
      display: block;
      width: 100%;
      text-align: left; }
      .qor-actions__filter-time .qor-filter__block-buttons button.is-selected {
        background-color: rgba(158, 158, 158, 0.2); }
  .qor-actions__filter-time .qor-filter__button-search {
    float: right;
    margin: 12px 0; }

.datepicker-container {
  font-size: 12px;
  line-height: 30px;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 210px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  direction: ltr !important;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.datepicker-container:before,
.datepicker-container:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  content: ' ';
  border: 5px solid transparent; }

.datepicker-dropdown {
  position: absolute;
  z-index: 1;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 3px 6px #ccc;
  box-shadow: 0 3px 6px #ccc; }

.datepicker-inline {
  position: static; }

.datepicker-top-left,
.datepicker-top-right {
  border-top-color: #39f; }

.datepicker-top-left:before,
.datepicker-top-left:after,
.datepicker-top-right:before,
.datepicker-top-right:after {
  top: -5px;
  left: 10px;
  border-top: 0; }

.datepicker-top-left:before,
.datepicker-top-right:before {
  border-bottom-color: #39f; }

.datepicker-top-left:after,
.datepicker-top-right:after {
  top: -4px;
  border-bottom-color: #fff; }

.datepicker-bottom-left,
.datepicker-bottom-right {
  border-bottom-color: #39f; }

.datepicker-bottom-left:before,
.datepicker-bottom-left:after,
.datepicker-bottom-right:before,
.datepicker-bottom-right:after {
  bottom: -5px;
  left: 10px;
  border-bottom: 0; }

.datepicker-bottom-left:before,
.datepicker-bottom-right:before {
  border-top-color: #39f; }

.datepicker-bottom-left:after,
.datepicker-bottom-right:after {
  bottom: -4px;
  border-top-color: #fff; }

.datepicker-top-right:before,
.datepicker-top-right:after,
.datepicker-bottom-right:before,
.datepicker-bottom-right:after {
  right: 10px;
  left: auto; }

.datepicker-panel > ul:before,
.datepicker-panel > ul:after {
  display: table;
  content: ' '; }

.datepicker-panel > ul:after {
  clear: both; }

.datepicker-panel > ul {
  width: 102%;
  margin: 0;
  padding: 0; }

.datepicker-panel > ul > li {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.75); }

.datepicker-panel > ul > li:hover {
  background-color: #eee; }

.datepicker-panel > ul > li.muted,
.datepicker-panel > ul > li.muted:hover {
  color: rgba(0, 0, 0, 0.4); }

.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  color: #39f; }

.datepicker-panel > ul > li.disabled,
.datepicker-panel > ul > li.disabled:hover {
  cursor: default;
  color: rgba(0, 0, 0, 0.1);
  background-color: #fff; }

.datepicker-panel > ul > li[data-view='years prev'],
.datepicker-panel > ul > li[data-view='year prev'],
.datepicker-panel > ul > li[data-view='month prev'],
.datepicker-panel > ul > li[data-view='years next'],
.datepicker-panel > ul > li[data-view='year next'],
.datepicker-panel > ul > li[data-view='month next'],
.datepicker-panel > ul > li[data-view='next'] {
  font-size: 18px; }

.datepicker-panel > ul > li[data-view='years current'],
.datepicker-panel > ul > li[data-view='year current'],
.datepicker-panel > ul > li[data-view='month current'] {
  width: 150px; }

.datepicker-panel > ul[data-view='years'] > li,
.datepicker-panel > ul[data-view='months'] > li {
  line-height: 52.5px;
  width: 52.5px;
  height: 52.5px; }

.datepicker-panel > ul[data-view='week'] > li,
.datepicker-panel > ul[data-view='week'] > li:hover {
  cursor: default;
  background-color: #fff; }

.datepicker-hide {
  display: none; }

/* Time picker */
.ui-timepicker-wrapper {
  overflow-y: auto;
  height: 200px;
  width: 160px;
  background: #fff;
  border: 1px solid rgba(0,0,0, 0.24);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  outline: none;
  z-index: 10001;
  margin: 0; }

.ui-timepicker-wrapper.ui-timepicker-with-duration {
  width: 13em; }

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
  width: 11em; }

.ui-timepicker-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.ui-timepicker-duration {
  margin-left: 5px;
  color: #888; }

.ui-timepicker-list:hover .ui-timepicker-duration {
  color: #888; }

.ui-timepicker-list li {
  padding: 8px;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
  list-style: none;
  margin: 0; }

.ui-timepicker-list:hover .ui-timepicker-selected {
  background: #fff;
  color: #000; }

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
  background: #03a9f4;
  color: #fff; }

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
  color: #ccc; }

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  color: #888;
  cursor: default; }

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  background: #f2f2f2; }

.qor-datepicker .mdl-card {
  width: 312px !important; }

.qor-datepicker .mdl-card__title {
  display: none; }

.qor-datepicker .mdl-card__supporting-text {
  padding: 0; }

.qor-datepicker__picked {
  padding: 16px 24px;
  color: #fff;
  background-color: rgb(3,169,244); }

.qor-datepicker__picked-year {
  margin-bottom: 8px; }

.qor-datepicker__picked-date {
  font-size: 34px;
  font-weight: 400;
  line-height: 1; }

.qor-datepicker__embedded {
  padding: 16px; }
  .qor-datepicker__embedded .datepicker-container {
    float: none;
    position: static;
    width: auto; }
  .qor-datepicker__embedded .datepicker-panel > ul > li[data-view='month current'],
  .qor-datepicker__embedded .datepicker-panel > ul > li[data-view='years current'],
  .qor-datepicker__embedded .datepicker-panel > ul > li[data-view='year current'] {
    width: 200px; }
  .qor-datepicker__embedded .datepicker-panel {
    width: 280px;
    border: none;
    box-shadow: none; }
  .qor-datepicker__embedded .datepicker-panel li {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px; }
  .qor-datepicker__embedded .datepicker-panel .col-1 {
    width: 40px; }
  .qor-datepicker__embedded .datepicker-panel .col-2 {
    width: 80px; }
  .qor-datepicker__embedded .datepicker-panel .col-3 {
    width: 120px; }
  .qor-datepicker__embedded .datepicker-panel .col-4 {
    width: 160px; }
  .qor-datepicker__embedded .datepicker-panel .col-5 {
    width: 200px; }
  .qor-datepicker__embedded .datepicker-panel .col-6 {
    width: 240px; }
  .qor-datepicker__embedded .datepicker-panel .col-7 {
    width: 280px; }
  .qor-datepicker__embedded .datepicker-panel .picked,
  .qor-datepicker__embedded .datepicker-panel .picked:hover {
    background-color: rgb(3,169,244);
    color: #fff; }

.qor-field__datetimepicker,
.qor-field__datepicker {
  position: relative; }
  .qor-field__datetimepicker .qor-datetimepicker__input:disabled + div,
  .qor-field__datetimepicker .qor-datepicker__input:disabled + div,
  .qor-field__datepicker .qor-datetimepicker__input:disabled + div,
  .qor-field__datepicker .qor-datepicker__input:disabled + div {
    display: none; }
  .qor-field__datetimepicker .qor-action__timepicker,
  .qor-field__datetimepicker .qor-action__datepicker,
  .qor-field__datepicker .qor-action__timepicker,
  .qor-field__datepicker .qor-action__datepicker {
    bottom: 0;
    position: absolute;
    margin: 0; }
  .qor-field__datetimepicker .qor-action__timepicker,
  .qor-field__datepicker .qor-action__timepicker {
    right: 0; }
  .qor-field__datetimepicker .qor-action__datepicker,
  .qor-field__datepicker .qor-action__datepicker {
    right: 40px; }
  .qor-field__datetimepicker[data-picker-type='date'] .qor-action__datepicker,
  .qor-field__datepicker[data-picker-type='date'] .qor-action__datepicker {
    right: 0; }

.qor-modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  background-color: rgba(0,0,0, 0.26);
  outline: 0;
  -webkit-overflow-scrolling: touch; }
  .qor-modal .mdl-card {
    display: block;
    width: auto;
    min-height: 0;
    margin: 16px; }
    .qor-modal .mdl-card .mdl-card__supporting-text {
      width: auto;
      word-wrap: break-word; }
    .qor-modal .mdl-card .mdl-card__actions {
      padding: 16px; }
      .qor-modal .mdl-card .mdl-card__actions:before, .qor-modal .mdl-card .mdl-card__actions:after {
        content: " ";
        display: table; }
      .qor-modal .mdl-card .mdl-card__actions:after {
        clear: both; }
      .qor-modal .mdl-card .mdl-card__actions > .mdl-button {
        float: right;
        margin-left: 16px;
        min-width: 32px; }
  @media screen and (min-width: 1024px) {
    .qor-modal .mdl-card {
      max-width: 640px;
      margin: 128px auto; } }
  .qor-modal.fade .mdl-card {
    transform: translate(0, -25%);
    transition: transform 0.3s ease-out; }
  .qor-modal.in .mdl-card {
    transform: translate(0, 0); }
  .qor-modal .qor-modal-loading {
    position: absolute;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    bottom: 0;
    top: 0;
    text-align: center;
    padding-top: 18px; }

.qor-modal-mini .mdl-card {
  width: 400px; }

.qor-modal-open {
  overflow: hidden; }
  .qor-modal-open .qor-modal {
    overflow-x: hidden;
    overflow-y: auto; }

.qor-dialog {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.54); }
  .qor-dialog .qor-dialog-content {
    position: absolute;
    width: 50%;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(255,255,255);
    padding: 24px 48px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    border-radius: 2px; }
    .qor-dialog .qor-dialog-content .mdl-textfield {
      width: 100%; }
