/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * STYLE GUIDE VARIABLES------------------Declarations of Sass variables
 * -----Typography
 * -----Colors
 * -----Textfield
 * -----Switch
 * -----Spinner
 * -----Radio
 * -----Menu
 * -----List
 * -----Layout
 * -----Icon toggles
 * -----Footer
 * -----Column
 * -----Checkbox
 * -----Card
 * -----Button
 * -----Animation
 * -----Progress
 * -----Badge
 * -----Shadows
 * -----Grid
 * -----Data table
 * -----Dialog
 * -----Snackbar
 *
 * Even though all variables have the `!default` directive, most of them
 * should not be changed as they are dependent one another. This can cause
 * visual distortions (like alignment issues) that are hard to track down
 * and fix.
 */
/* ==========  TYPOGRAPHY  ========== */
/* We're splitting fonts into "preferred" and "performance" in order to optimize
   page loading. For important text, such as the body, we want it to load
   immediately and not wait for the web font load, whereas for other sections,
   such as headers and titles, we're OK with things taking a bit longer to load.
   We do have some optional classes and parameters in the mixins, in case you
   definitely want to make sure you're using the preferred font and don't mind
   the performance hit.
   We should be able to improve on this once CSS Font Loading L3 becomes more
   widely available.
*/
/* ==========  COLORS  ========== */
/**
*
* Material design color palettes.
* @see http://www.google.com/design/spec/style/color.html
*
**/
/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* ==========  Color Palettes  ========== */
/* colors.scss */
/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* ==========  IMAGES  ========== */
/* ==========  Color & Themes  ========== */
/* ==========  Typography  ========== */
/* ==========  Components  ========== */
/* ==========  Standard Buttons  ========== */
/* ==========  Icon Toggles  ========== */
/* ==========  Radio Buttons  ========== */
/* ==========  Ripple effect  ========== */
/* ==========  Layout  ========== */
/* ==========  Content Tabs  ========== */
/* ==========  Checkboxes  ========== */
/* ==========  Switches  ========== */
/* ==========  Spinner  ========== */
/* ==========  Text fields  ========== */
/* ==========  Card  ========== */
/* ==========  Sliders ========== */
/* ========== Progress ========== */
/* ==========  List ========== */
/* ==========  Item ========== */
/* ==========  Dropdown menu ========== */
/* ==========  Tooltips  ========== */
/* ==========  Footer  ========== */
/* TEXTFIELD */
/* SWITCH */
/* SPINNER */
/* RADIO */
/* MENU */
/* LIST */
/* LAYOUT */
/* ICON TOGGLE */
/* FOOTER */
/*mega-footer*/
/*mini-footer*/
/* CHECKBOX */
/* CARD */
/* Card dimensions */
/* Cover image */
/* BUTTON */
/**
 *
 * Dimensions
 *
 */
/* ANIMATION */
/* PROGRESS */
/* BADGE */
/* SHADOWS */
/* GRID */
/* DATA TABLE */
/* DIALOG */
/* SNACKBAR */
/* TOOLTIP */
/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* Typography */
/* Shadows */
/* Animations */
/* Dialog */
.datepicker-container {
  font-size: 12px;
  line-height: 30px;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 210px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  direction: ltr !important;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.datepicker-container:before,
.datepicker-container:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  content: ' ';
  border: 5px solid transparent; }

.datepicker-dropdown {
  position: absolute;
  z-index: 1;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 3px 6px #ccc;
  box-shadow: 0 3px 6px #ccc; }

.datepicker-inline {
  position: static; }

.datepicker-top-left,
.datepicker-top-right {
  border-top-color: #39f; }

.datepicker-top-left:before,
.datepicker-top-left:after,
.datepicker-top-right:before,
.datepicker-top-right:after {
  top: -5px;
  left: 10px;
  border-top: 0; }

.datepicker-top-left:before,
.datepicker-top-right:before {
  border-bottom-color: #39f; }

.datepicker-top-left:after,
.datepicker-top-right:after {
  top: -4px;
  border-bottom-color: #fff; }

.datepicker-bottom-left,
.datepicker-bottom-right {
  border-bottom-color: #39f; }

.datepicker-bottom-left:before,
.datepicker-bottom-left:after,
.datepicker-bottom-right:before,
.datepicker-bottom-right:after {
  bottom: -5px;
  left: 10px;
  border-bottom: 0; }

.datepicker-bottom-left:before,
.datepicker-bottom-right:before {
  border-top-color: #39f; }

.datepicker-bottom-left:after,
.datepicker-bottom-right:after {
  bottom: -4px;
  border-top-color: #fff; }

.datepicker-top-right:before,
.datepicker-top-right:after,
.datepicker-bottom-right:before,
.datepicker-bottom-right:after {
  right: 10px;
  left: auto; }

.datepicker-panel > ul:before,
.datepicker-panel > ul:after {
  display: table;
  content: ' '; }

.datepicker-panel > ul:after {
  clear: both; }

.datepicker-panel > ul {
  width: 102%;
  margin: 0;
  padding: 0; }

.datepicker-panel > ul > li {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.75); }

.datepicker-panel > ul > li:hover {
  background-color: #eee; }

.datepicker-panel > ul > li.muted,
.datepicker-panel > ul > li.muted:hover {
  color: rgba(0, 0, 0, 0.4); }

.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  color: #39f; }

.datepicker-panel > ul > li.disabled,
.datepicker-panel > ul > li.disabled:hover {
  cursor: default;
  color: rgba(0, 0, 0, 0.1);
  background-color: #fff; }

.datepicker-panel > ul > li[data-view='years prev'],
.datepicker-panel > ul > li[data-view='year prev'],
.datepicker-panel > ul > li[data-view='month prev'],
.datepicker-panel > ul > li[data-view='years next'],
.datepicker-panel > ul > li[data-view='year next'],
.datepicker-panel > ul > li[data-view='month next'],
.datepicker-panel > ul > li[data-view='next'] {
  font-size: 18px; }

.datepicker-panel > ul > li[data-view='years current'],
.datepicker-panel > ul > li[data-view='year current'],
.datepicker-panel > ul > li[data-view='month current'] {
  width: 150px; }

.datepicker-panel > ul[data-view='years'] > li,
.datepicker-panel > ul[data-view='months'] > li {
  line-height: 52.5px;
  width: 52.5px;
  height: 52.5px; }

.datepicker-panel > ul[data-view='week'] > li,
.datepicker-panel > ul[data-view='week'] > li:hover {
  cursor: default;
  background-color: #fff; }

.datepicker-hide {
  display: none; }

/* Time picker */
.ui-timepicker-wrapper {
  overflow-y: auto;
  height: 200px;
  width: 160px;
  background: #fff;
  border: 1px solid rgba(0,0,0, 0.24);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  outline: none;
  z-index: 10001;
  margin: 0; }

.ui-timepicker-wrapper.ui-timepicker-with-duration {
  width: 13em; }

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
  width: 11em; }

.ui-timepicker-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.ui-timepicker-duration {
  margin-left: 5px;
  color: #888; }

.ui-timepicker-list:hover .ui-timepicker-duration {
  color: #888; }

.ui-timepicker-list li {
  padding: 8px;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
  list-style: none;
  margin: 0; }

.ui-timepicker-list:hover .ui-timepicker-selected {
  background: #fff;
  color: #000; }

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
  background: #03a9f4;
  color: #fff; }

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
  color: #ccc; }

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  color: #888;
  cursor: default; }

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  background: #f2f2f2; }

/* reset */
.select2-container {
  min-width: 100%; }
  .select2-container .select2-selection--single,
  .select2-container .select2-selection--multiple {
    height: 32px;
    min-height: 30px; }
    .select2-container .select2-selection--single:focus,
    .select2-container .select2-selection--multiple:focus {
      outline: none; }

.qor-page__header .select2-container {
  width: 100% !important;
  max-width: 260px; }
  .qor-page__header .select2-container .select2-dropdown--below {
    max-width: 260px;
    width: auto !important; }

[chooser-selected='true'][data-allow-clear='true'] + .select2-container--default .select2-selection--single {
  border-color: rgb(3,169,244); }
  [chooser-selected='true'][data-allow-clear='true'] + .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-right: 50px; }
  [chooser-selected='true'][data-allow-clear='true'] + .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 29px; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-radius: 2px;
  border: 2px solid #2196f3; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-width: 0 4px 4px; }

.select2-container--default .select2-selection--multiple {
  border-radius: 2px;
  border: 2px solid rgba(0,0,0, 0.12);
  height: auto;
  margin-top: 0;
  line-height: 1; }
  .select2-container--default .select2-selection--multiple .select2-selection__clear {
    font-size: 20px;
    padding: 0 8px;
    margin: 0;
    line-height: 28px;
    position: absolute;
    top: 2px;
    right: 2px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    padding: 0 6px 0px 2px;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(0,0,0, 0.08);
    background-image: none;
    border-color: rgba(0,0,0, 0.12);
    border-radius: 2px;
    box-shadow: none;
    margin-top: 3px;
    line-height: 20px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    line-height: 1;
    float: right;
    margin: 4px 0 0 8px; }

.select2-container--default .select2-selection--single {
  border-radius: 2px;
  border: 2px solid rgba(0,0,0, 0.12); }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: rgba(0,0,0, 0.54); }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-right: 30px;
    font-weight: 500; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px;
    width: 24px;
    top: 1px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-width: 4px 4px 0; }
  .select2-container--default .select2-selection--single .select2-selection__clear {
    font-size: 20px;
    padding: 0 8px;
    margin-right: -50px;
    margin-left: 8px;
    background-color: rgb(3,169,244);
    color: #fff; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: rgb(3,169,244); }

.select2-container--default .select2-search--inline {
  float: left !important; }
  .select2-container--default .select2-search--inline .select2-search__field {
    width: 90% !important; }

.select2-dropdown {
  border: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .select2-dropdown .select2-results__option {
    height: 48px;
    padding: 0 16px;
    line-height: 48px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
    .select2-dropdown .select2-results__option[aria-selected='true'] {
      display: none; }

.select2-container--disabled .select2-selection__clear:hover,
.select2-container--disabled .select2-selection__arrow:hover {
  background-color: transparent !important; }
  .select2-container--disabled .select2-selection__clear:hover b,
  .select2-container--disabled .select2-selection__arrow:hover b {
    border-color: #888 transparent transparent !important; }

.select2-container--disabled .select2-selection--single {
  border-color: rgba(0,0,0, 0.12); }
  .select2-container--disabled .select2-selection--single .select2-selection__rendered {
    color: rgba(0,0,0, 0.24); }

.qor-cropper__canvas {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0 !important;
  overflow: hidden;
  line-height: 150px;
  text-align: center; }
  .qor-cropper__canvas img {
    display: inline-block !important; }

.qor-cropper__toggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #888;
  background-color: rgba(0,0,0, 0.75);
  opacity: 0;
  text-align: center;
  line-height: 1; }
  .qor-cropper__toggle .qor-cropper__toggle--delete {
    z-index: 3;
    width: 32px;
    padding-top: 10px; }
  .qor-cropper__toggle .qor-cropper__toggle--crop,
  .qor-cropper__toggle .qor-cropper__toggle--download {
    left: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 2; }
  .qor-cropper__toggle > div {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    cursor: pointer; }
    .qor-cropper__toggle > div:hover i {
      color: rgb(3,169,244); }
    .qor-cropper__toggle > div i {
      color: #fff; }
  .qor-cropper__toggle:hover {
    opacity: 1; }

.qor-cropper__wrapper {
  margin: -16px; }
  .qor-cropper__wrapper > img {
    max-width: 100%; }

.qor-cropper__options {
  display: none;
  margin-top: 32px; }
  .qor-cropper__options:before, .qor-cropper__options:after {
    content: " ";
    display: table; }
  .qor-cropper__options:after {
    clear: both; }
  .qor-cropper__options > p {
    margin-right: 16px;
    margin-bottom: 0; }
  .qor-cropper__options > ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    overflow: hidden; }
    .qor-cropper__options > ul > li {
      float: left;
      margin-right: 16px; }
      .qor-cropper__options > ul > li > label > input {
        margin-right: 2px; }
      .qor-cropper__options > ul > li > label > span {
        display: inline-block; }
        .qor-cropper__options > ul > li > label > span:first-letter {
          text-transform: uppercase; }
        .qor-cropper__options > ul > li > label > span > small {
          margin-left: 4px;
          color: rgba(0,0,0, 0.26); }

.qor-datepicker .mdl-card {
  width: 312px !important; }

.qor-datepicker .mdl-card__title {
  display: none; }

.qor-datepicker .mdl-card__supporting-text {
  padding: 0; }

.qor-datepicker__picked {
  padding: 16px 24px;
  color: #fff;
  background-color: rgb(3,169,244); }

.qor-datepicker__picked-year {
  margin-bottom: 8px; }

.qor-datepicker__picked-date {
  font-size: 34px;
  font-weight: 400;
  line-height: 1; }

.qor-datepicker__embedded {
  padding: 16px; }
  .qor-datepicker__embedded .datepicker-container {
    float: none;
    position: static;
    width: auto; }
  .qor-datepicker__embedded .datepicker-panel > ul > li[data-view='month current'],
  .qor-datepicker__embedded .datepicker-panel > ul > li[data-view='years current'],
  .qor-datepicker__embedded .datepicker-panel > ul > li[data-view='year current'] {
    width: 200px; }
  .qor-datepicker__embedded .datepicker-panel {
    width: 280px;
    border: none;
    box-shadow: none; }
  .qor-datepicker__embedded .datepicker-panel li {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px; }
  .qor-datepicker__embedded .datepicker-panel .col-1 {
    width: 40px; }
  .qor-datepicker__embedded .datepicker-panel .col-2 {
    width: 80px; }
  .qor-datepicker__embedded .datepicker-panel .col-3 {
    width: 120px; }
  .qor-datepicker__embedded .datepicker-panel .col-4 {
    width: 160px; }
  .qor-datepicker__embedded .datepicker-panel .col-5 {
    width: 200px; }
  .qor-datepicker__embedded .datepicker-panel .col-6 {
    width: 240px; }
  .qor-datepicker__embedded .datepicker-panel .col-7 {
    width: 280px; }
  .qor-datepicker__embedded .datepicker-panel .picked,
  .qor-datepicker__embedded .datepicker-panel .picked:hover {
    background-color: rgb(3,169,244);
    color: #fff; }

.qor-field__datetimepicker,
.qor-field__datepicker {
  position: relative; }
  .qor-field__datetimepicker .qor-datetimepicker__input:disabled + div,
  .qor-field__datetimepicker .qor-datepicker__input:disabled + div,
  .qor-field__datepicker .qor-datetimepicker__input:disabled + div,
  .qor-field__datepicker .qor-datepicker__input:disabled + div {
    display: none; }
  .qor-field__datetimepicker .qor-action__timepicker,
  .qor-field__datetimepicker .qor-action__datepicker,
  .qor-field__datepicker .qor-action__timepicker,
  .qor-field__datepicker .qor-action__datepicker {
    bottom: 0;
    position: absolute;
    margin: 0; }
  .qor-field__datetimepicker .qor-action__timepicker,
  .qor-field__datepicker .qor-action__timepicker {
    right: 0; }
  .qor-field__datetimepicker .qor-action__datepicker,
  .qor-field__datepicker .qor-action__datepicker {
    right: 40px; }
  .qor-field__datetimepicker[data-picker-type='date'] .qor-action__datepicker,
  .qor-field__datepicker[data-picker-type='date'] .qor-action__datepicker {
    right: 0; }

.qor-table .is-fixed {
  position: fixed;
  top: 0;
  z-index: 990;
  height: 48px;
  padding-bottom: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px -1px rgba(0,0,0, 0.24); }
  .qor-table .is-fixed th {
    height: 48px;
    background-color: #f5f5f5; }

.qor-table .is-hidden {
  display: none; }

.qor-modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  background-color: rgba(0,0,0, 0.26);
  outline: 0;
  -webkit-overflow-scrolling: touch; }
  .qor-modal .mdl-card {
    display: block;
    width: auto;
    min-height: 0;
    margin: 16px; }
    .qor-modal .mdl-card .mdl-card__supporting-text {
      width: auto;
      word-wrap: break-word; }
    .qor-modal .mdl-card .mdl-card__actions {
      padding: 16px; }
      .qor-modal .mdl-card .mdl-card__actions:before, .qor-modal .mdl-card .mdl-card__actions:after {
        content: " ";
        display: table; }
      .qor-modal .mdl-card .mdl-card__actions:after {
        clear: both; }
      .qor-modal .mdl-card .mdl-card__actions > .mdl-button {
        float: right;
        margin-left: 16px;
        min-width: 32px; }
  @media screen and (min-width: 1024px) {
    .qor-modal .mdl-card {
      max-width: 640px;
      margin: 128px auto; } }
  .qor-modal.fade .mdl-card {
    transform: translate(0, -25%);
    transition: transform 0.3s ease-out; }
  .qor-modal.in .mdl-card {
    transform: translate(0, 0); }
  .qor-modal .qor-modal-loading {
    position: absolute;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    bottom: 0;
    top: 0;
    text-align: center;
    padding-top: 18px; }

.qor-modal-mini .mdl-card {
  width: 400px; }

.qor-modal-open {
  overflow: hidden; }
  .qor-modal-open .qor-modal {
    overflow-x: hidden;
    overflow-y: auto; }

.qor-dialog {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.54); }
  .qor-dialog .qor-dialog-content {
    position: absolute;
    width: 50%;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(255,255,255);
    padding: 24px 48px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    border-radius: 2px; }
    .qor-dialog .qor-dialog-content .mdl-textfield {
      width: 100%; }

/*Reset for redactor*/
.redactor-box {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 16px;
  position: static; }

.redactor-component[data-redactor-type="table"] td[data-active],
.redactor-component[data-redactor-type="table"] th[data-active] {
  opacity: 0.5;
  box-shadow: 0 0 10px #0e65eb; }

.redactor-component-table-line {
  width: 1px;
  height: 100%;
  background-color: rgba(44, 165, 242, 0.5);
  position: absolute;
  top: 0; }

.redactor-styles {
  position: static;
  font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
  border: 0;
  min-height: 200px; }
  .redactor-styles table td,
  .redactor-styles table th {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all; }
  .redactor-styles table tr td:last-child,
  .redactor-styles table tr th:last-child {
    cursor: default !important; }
  .redactor-styles iframe.qor-video-container {
    height: 380px;
    margin-bottom: 16px; }
  .redactor-styles pre {
    background-color: transparent;
    font-family: monospace, Helvetica Neue, Helvetica, Arial, "sans-serif";
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0; }
  .redactor-styles blockquote {
    font-style: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit; }
    .redactor-styles blockquote::before, .redactor-styles blockquote::after {
      display: none; }
  .redactor-styles figure,
  .redactor-styles h1,
  .redactor-styles h2,
  .redactor-styles h3,
  .redactor-styles h4,
  .redactor-styles h5,
  .redactor-styles h6,
  .redactor-styles p {
    font-family: 'Roboto', Helvetica, Arial, sans-serif !important; }
  .redactor-styles address,
  .redactor-styles blockquote,
  .redactor-styles dl,
  .redactor-styles figure,
  .redactor-styles hr,
  .redactor-styles p,
  .redactor-styles pre,
  .redactor-styles table {
    margin: inherit; }
  .redactor-styles p {
    margin-bottom: 10px; }
  .redactor-styles .rd-text-justify {
    text-align: justify; }
  .redactor-styles .rd-text-right {
    text-align: right; }
  .redactor-styles .rd-text-center {
    text-align: center; }
  .redactor-styles li.rd-text-justify {
    text-align: justify !important; }
  .redactor-styles li.rd-text-left {
    text-align: left !important; }
  .redactor-styles li.rd-text-right {
    text-align: right !important; }
  .redactor-styles li.rd-text-center {
    text-align: center !important; }
  .redactor-styles #redactor-image-displaymode {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 55%;
    margin-top: -11px;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    color: white;
    font-size: 12px;
    padding: 7px 10px;
    cursor: pointer;
    margin-left: -120px; }
    .redactor-styles #redactor-image-displaymode + #redactor-image-editter {
      left: 57%; }

.redactor-styles h6,
.redactor-dropdown-format .redactor-dropdown-item-h6 {
  text-transform: none; }

.redactor-in blockquote:empty,
.redactor-in h1:empty,
.redactor-in h2:empty,
.redactor-in h3:empty,
.redactor-in h4:empty,
.redactor-in h5:empty,
.redactor-in h6:empty,
.redactor-in p:empty {
  min-height: 1px; }

.redactor-toolbar {
  box-shadow: none; }
  .redactor-toolbar li a {
    padding: 12px; }
  .redactor-toolbar i {
    font-size: 18px; }
    .redactor-toolbar i.html:after {
      content: 'code'; }
    .redactor-toolbar i.link:after {
      content: 'insert_link'; }
    .redactor-toolbar i.image:after {
      content: 'image'; }
    .redactor-toolbar i.format:after {
      content: 'text_fields'; }
    .redactor-toolbar i.bold:after {
      content: 'format_bold'; }
    .redactor-toolbar i.file:after {
      content: 'attach_file'; }
    .redactor-toolbar i.italic:after {
      content: 'format_italic'; }
    .redactor-toolbar i.deleted:after {
      content: 'strikethrough_s'; }
    .redactor-toolbar i.lists:after {
      content: 'format_line_spacing'; }
    .redactor-toolbar i.table:after {
      content: 'grid_on'; }

.redactor-link-tooltip {
  z-index: 1000; }

#redactor-modal-box {
  background-color: rgba(0,0,0, 0.75); }

#redactor-modal {
  border-radius: 2px;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  padding: 24px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  #redactor-modal #redactor-modal-header {
    background: none;
    padding: 0;
    margin-bottom: 36px;
    font-weight: 300;
    border-radius: 0;
    font-size: 30px;
    border: 0; }
  #redactor-modal input[type='text'],
  #redactor-modal input[type='password'],
  #redactor-modal input[type='email'],
  #redactor-modal input[type='url'],
  #redactor-modal select,
  #redactor-modal textarea {
    border-radius: 0;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  #redactor-modal #redactor-modal-body {
    padding: 0; }
  #redactor-modal button {
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    font-size: 14px;
    border-radius: 2px;
    border: 0;
    background: none; }
    #redactor-modal button:hover {
      background-color: rgba(158, 158, 158, 0.2); }
    #redactor-modal button#redactor-modal-button-action {
      background-color: rgb(3,169,244); }
      #redactor-modal button#redactor-modal-button-action:hover {
        background-color: rgb(3,169,244); }

.qor-selector {
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .qor-selector.bottom > .qor-selector-menu {
    top: auto;
    bottom: 0; }
  .qor-selector.open > .qor-selector-menu {
    display: block; }
  .qor-selector.right-aligned > .qor-selector-menu {
    right: 0;
    left: auto; }
  .qor-selector.hover .qor-selector-toggle {
    background-color: transparent;
    border: 0;
    height: 32px;
    line-height: 32px;
    color: rgba(0,0,0, 0.87); }
    .qor-selector.hover .qor-selector-toggle > .material-icons {
      height: 32px;
      line-height: 32px; }
    .qor-selector.hover .qor-selector-toggle.active {
      border: 0; }
    .qor-selector.hover .qor-selector-toggle:hover {
      background-color: #fff;
      border: 0;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.qor-selector-toggle {
  position: relative;
  display: block;
  height: 28px;
  padding-left: 8px;
  font-size: 14px;
  line-height: 28px;
  color: rgba(0,0,0, 0.54);
  background-color: #fff;
  border: 2px solid rgba(0,0,0, 0.12);
  border-radius: 2px;
  cursor: pointer; }
  .qor-selector-toggle:hover, .qor-selector-toggle:focus {
    text-decoration: none;
    color: rgba(0,0,0, 0.54); }
  .qor-selector-toggle.active {
    padding-right: 0;
    color: rgba(0,0,0, 0.87);
    border-color: rgb(3,169,244); }
  .qor-selector-toggle > .material-icons {
    width: 28px;
    height: 28px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    vertical-align: top; }
  .qor-selector-toggle > .qor-selector-clear {
    display: none; }
  .qor-selector-toggle.clearable > .qor-selector-clear {
    display: inline-block;
    width: 30px;
    padding-left: 2px;
    background-color: rgb(3,169,244);
    color: #fff; }

.qor-selector-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  min-width: 128px;
  max-height: 480px;
  padding: 8px 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  overflow: auto; }
  .qor-selector-menu > li {
    display: block;
    height: 48px;
    padding: 0 16px;
    color: rgba(0,0,0, 0.87);
    font-weight: normal;
    line-height: 48px;
    white-space: nowrap;
    cursor: pointer; }
    .qor-selector-menu > li:hover, .qor-selector-menu > li:focus {
      background-color: #eee; }
  .qor-selector-menu > .selected, .qor-selector-menu > .selected:hover, .qor-selector-menu > .selected:focus {
    background-color: #eee; }
  .qor-selector-menu > .disabled, .qor-selector-menu > .disabled:hover, .qor-selector-menu > .disabled:focus {
    color: rgba(0,0,0, 0.26);
    background-color: transparent;
    cursor: auto; }

.qor-actions__filter-time {
  position: relative; }
  .qor-actions__filter-time a {
    text-decoration: none; }
  .qor-actions__filter-time .qor-field__datetimepicker .qor-action__datepicker,
  .qor-actions__filter-time .qor-field__datetimepicker .qor-action__timepicker {
    bottom: auto;
    top: 12px; }
  .qor-actions__filter-time input {
    font-size: 14px; }
  .qor-actions__filter-time .qor-filter__block {
    position: absolute;
    top: 40px;
    left: 0;
    min-width: 240px;
    background-color: #fff;
    padding: 12px;
    z-index: 2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
    .qor-actions__filter-time .qor-filter__block > .qor-field__label {
      margin-top: 16px;
      padding-left: 16px;
      padding-bottom: 6px; }
  .qor-actions__filter-time .qor-field__datetimepicker {
    padding-left: 16px;
    margin-top: -10px; }
  .qor-actions__filter-time .qor-filter__block-buttons {
    border-bottom: 1px solid rgba(0,0,0, 0.24); }
    .qor-actions__filter-time .qor-filter__block-buttons .qor-field__label {
      padding-left: 16px;
      padding-bottom: 6px; }
    .qor-actions__filter-time .qor-filter__block-buttons .qor-filter__block-events {
      padding-top: 12px;
      border-top: 1px solid rgba(0,0,0, 0.24); }
    .qor-actions__filter-time .qor-filter__block-buttons button {
      font-size: 12px;
      margin-bottom: 6px;
      display: block;
      width: 100%;
      text-align: left; }
      .qor-actions__filter-time .qor-filter__block-buttons button.is-selected {
        background-color: rgba(158, 158, 158, 0.2); }
  .qor-actions__filter-time .qor-filter__button-search {
    float: right;
    margin: 12px 0; }

.qor-slideout-open {
  overflow: hidden; }

.qor-slideout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
  background-color: #f5f5f5;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
  .qor-slideout .qor-form-container {
    background-color: transparent; }
  .qor-slideout .qor-fieldset {
    background-color: #fff; }
  .qor-slideout figure {
    margin: 0; }
  .qor-slideout img {
    max-width: 100%; }
  .qor-slideout.is-shown {
    display: block;
    width: 0;
    transition: width 0.3s ease; }
  .qor-slideout.is-slided {
    width: 100%; }
    @media (min-width: 1024px) {
      .qor-slideout.is-slided {
        width: 50%; }
        .qor-slideout.is-slided.qor-slideout-mini {
          width: 480px; } }
  .qor-slideout.qor-slideout__fullscreen {
    width: 100% !important; }
  .qor-slideout .qor-error {
    margin: 24px 0;
    box-shadow: none; }
  .qor-slideout .qor-action-bulk-edit,
  .qor-slideout .qor-actions__filter-time {
    display: none; }

.qor-slideout__header {
  position: fixed;
  width: inherit;
  box-sizing: border-box;
  height: 64px;
  padding: 0 24px;
  background-color: rgb(3,169,244);
  z-index: 9999; }
  .qor-slideout__header .qor-slideout__header-link {
    position: absolute;
    right: 50px;
    top: 16px; }
    .qor-slideout__header .qor-slideout__header-link a {
      display: inline-block;
      vertical-align: middle; }
      .qor-slideout__header .qor-slideout__header-link a.qor-slideout__opennew i {
        font-size: 20px; }
      .qor-slideout__header .qor-slideout__header-link a i {
        color: #fff; }

.qor-slideout__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 64px;
  font-weight: 500;
  color: #fff; }

.qor-slideout__close {
  position: absolute !important;
  top: 16px;
  right: 16px;
  color: #fff; }

.qor-slideout__body {
  padding: 0 24px;
  margin-top: 64px;
  height: calc(100% - 64px);
  overflow: hidden;
  overflow-y: auto;
  position: relative; }
  .qor-slideout__body .qor-action-alert {
    margin: 56px 0 0; }
  .qor-slideout__body .qor-action-bulk-buttons {
    display: none !important; }
  .qor-slideout__body .qor-action-forms {
    display: block !important;
    margin-top: 0; }
    .qor-slideout__body .qor-action-forms .qor-form__actions {
      margin-top: 0; }
  .qor-slideout__body .qor-page__header {
    position: relative;
    top: inherit;
    width: calc(100% + 48px); }
    .qor-slideout__body .qor-page__header + .qor-page__body {
      padding-top: 0; }
    .qor-slideout__body .qor-page__header:empty {
      display: none; }

.qor-slideout .qor-page__body .qor-form-container {
  padding-bottom: 32px;
  margin: 20px 0;
  box-shadow: none;
  background-color: transparent; }

.qor-body__loading {
  position: absolute;
  top: 80px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  padding: 30px 0;
  border-radius: 2px;
  z-index: 9999;
  background-color: rgba(0,0,0, 0.72); }
  .qor-body__loading > div {
    text-align: center; }

.qor-slideout__body .qor-page__header {
  box-shadow: none;
  background: transparent;
  height: auto;
  min-height: 0;
  padding-top: 0;
  margin: 0 -24px; }
  .qor-slideout__body .qor-page__header .mdl-button {
    height: 36px;
    line-height: 36px;
    margin-right: 0;
    margin-left: 24px; }
  .qor-slideout__body .qor-page__header .qor-action-forms {
    margin-top: 8px;
    text-align: right;
    float: right; }

@media screen and (max-width: 1024px) {
  .qor-slideout__body .qor-page__header + .qor-page__body {
    margin-top: 0; } }

.qor-bottomsheets-open {
  overflow: hidden; }

.qor-bottomsheets {
  position: fixed;
  bottom: 0;
  width: 0;
  height: 0;
  left: 50%;
  z-index: 1005;
  display: none;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
  .qor-bottomsheets.qor-bottomsheets__fullscreen {
    max-height: none !important;
    width: 80% !important;
    margin-left: 0 !important;
    left: 10%;
    right: 10%; }
  .qor-bottomsheets.is-shown {
    display: block;
    transition: height 0.3s ease;
    width: 640px;
    margin-left: -320px; }
    .qor-bottomsheets.is-shown .qor-page__header {
      width: 640px; }
    .qor-bottomsheets.is-shown .qor-bottomsheets__body {
      padding: 12px 24px 12px 42px;
      background-color: #fff;
      height: calc(100% - 65px); }
      .qor-bottomsheets.is-shown .qor-bottomsheets__body.qor-bottomsheets__mediabox, .qor-bottomsheets.is-shown .qor-bottomsheets__body.qor-bottomsheets__select-many, .qor-bottomsheets.is-shown .qor-bottomsheets__body.qor-bottomsheets__select-one {
        padding: 12px 0; }
      .qor-bottomsheets.is-shown .qor-bottomsheets__body.has-hint {
        padding: 56px 0 12px; }
        .qor-bottomsheets.is-shown .qor-bottomsheets__body.has-hint .qor-page__body {
          padding-left: 18px;
          margin-left: 0; }
      .qor-bottomsheets.is-shown .qor-bottomsheets__body.has-header {
        padding: 56px 0 12px; }
        .qor-bottomsheets.is-shown .qor-bottomsheets__body.has-header .qor-page__body {
          padding-left: 18px;
          margin-left: 0; }
        .qor-bottomsheets.is-shown .qor-bottomsheets__body.has-header.has-hint {
          padding: 100px 0 12px; }
    .qor-bottomsheets.is-shown::after {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      background-color: rgba(0, 0, 0, 0.54);
      z-index: 995; }
  .qor-bottomsheets.is-slided {
    height: calc(100% - 100px);
    max-height: 600px;
    min-height: 400px; }
  .qor-bottomsheets .qor-bottomsheets__tab-content .qor-table {
    margin: 0; }
  .qor-bottomsheets .select2-container {
    width: 100% !important; }
    .qor-bottomsheets .select2-container .select2-selection {
      margin-top: 0; }
  .qor-bottomsheets .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0; }
  .qor-bottomsheets .qor-table-container {
    margin-top: 12px; }
  .qor-bottomsheets .qor-error {
    margin-right: 0;
    margin-left: 0;
    box-shadow: none; }
    .qor-bottomsheets .qor-error > li > label {
      padding: 8px 12px 8px 36px; }
      .qor-bottomsheets .qor-error > li > label i {
        top: 8px;
        left: 6px; }
  .qor-bottomsheets .qor-button--new {
    position: absolute;
    top: 10px;
    right: -20px;
    bottom: auto;
    width: 42px;
    min-width: 42px;
    height: 42px;
    line-height: 42px; }
  .qor-bottomsheets .qor-pagination-container {
    margin: 24px 0; }
    .qor-bottomsheets .qor-pagination-container .qor-pagination {
      margin: 0; }
    .qor-bottomsheets .qor-pagination-container .qor-actions {
      display: none; }
  .qor-bottomsheets .qor-table {
    margin: 0 0 0 35px;
    box-shadow: none;
    width: calc(100% - 35px); }
    .qor-bottomsheets .qor-table tr {
      cursor: pointer; }
    .qor-bottomsheets .qor-table td {
      padding: 10px; }
      .qor-bottomsheets .qor-table td[data-heading='ID'] {
        width: 42px;
        padding: 10px 0 10px 10px; }
    .qor-bottomsheets .qor-table td.qor-table__actions,
    .qor-bottomsheets .qor-table thead {
      display: none; }
    .qor-bottomsheets .qor-table::before {
      display: none; }

.qor-bottomsheets__header {
  position: relative;
  box-sizing: border-box;
  z-index: 1006;
  background-color: #fff; }
  .qor-bottomsheets__header .qor-bottomsheets__search {
    position: absolute;
    left: 0;
    right: 0;
    top: -58px;
    background-color: #fff;
    border-radius: 2px;
    height: 48px; }
    .qor-bottomsheets__header .qor-bottomsheets__search input {
      height: 24px;
      line-height: 24px;
      border: 0;
      margin-top: 8px;
      text-indent: 16px;
      outline: none; }
    .qor-bottomsheets__header .qor-bottomsheets__search button {
      position: absolute;
      top: 10px;
      right: 10px; }
  .qor-bottomsheets__header .qor-bottomsheets__title {
    position: relative;
    margin: 0;
    padding: 20px 0;
    min-height: 65px;
    box-sizing: border-box;
    margin-left: 54px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #fff;
    font-size: 24px;
    line-height: 1; }
    .qor-bottomsheets__header .qor-bottomsheets__title button {
      float: right;
      margin: -4px 8px 0 0; }
  .qor-bottomsheets__header .qor-bottomsheets__close {
    position: absolute !important;
    top: 16px;
    left: 16px;
    color: rgba(0, 0, 0, 0.54); }

.qor-bottomsheets__body {
  position: relative;
  box-sizing: border-box;
  z-index: 1005; }
  .qor-bottomsheets__body .qor-action-forms {
    padding-top: 0; }
  .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text > p.qor-table--video {
    height: 162px; }
  .qor-bottomsheets__body .qor-table--medialibrary .qor-table--video {
    position: relative; }
    .qor-bottomsheets__body .qor-table--medialibrary .qor-table--video:after {
      position: absolute;
      z-index: 2;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      height: 162px;
      background-color: rgba(0, 0, 0, 0.1); }
  .qor-bottomsheets__body .qor-page__header + .qor-page__body {
    padding-top: 0; }
  .qor-bottomsheets__body .qor-page__body {
    overflow: auto;
    height: 100%;
    padding-left: 0;
    margin-left: -22px; }
    .qor-bottomsheets__body .qor-page__body.qor-page__new {
      margin-right: -24px;
      padding-right: 54px;
      margin-left: -42px;
      padding-left: 55px; }
    .qor-bottomsheets__body .qor-page__body .qor-form-container {
      padding: 0;
      margin: 20px 0;
      box-shadow: none; }
  .qor-bottomsheets__body .qor-form-container {
    margin-top: 0; }
    .qor-bottomsheets__body .qor-form-container .qor-fieldset {
      padding: 4px 8px;
      box-shadow: none;
      border: 1px solid rgba(0, 0, 0, 0.12); }
    .qor-bottomsheets__body .qor-form-container .qor-form {
      padding: 0; }
  .qor-bottomsheets__body .qor-button--new {
    display: none; }
  .qor-bottomsheets__body .qor-action-forms {
    display: block !important;
    margin-top: 0; }
    .qor-bottomsheets__body .qor-action-forms .qor-form__actions {
      margin-top: 0; }

.qor-bottomsheets__mediabox {
  max-height: 700px !important; }
  .qor-bottomsheets__mediabox .mdl-card__supporting-text,
  .qor-bottomsheets__mediabox .qor-table--medialibrary-item {
    border-radius: 0 !important; }
  .qor-bottomsheets__mediabox .qor-bottomsheets__body table:not(.qor-table--medialibrary) img {
    height: 48px !important; }
  .qor-bottomsheets__mediabox .qor-bottomsheets__body table:not(.qor-table--medialibrary) tbody tr {
    height: 60px; }
    .qor-bottomsheets__mediabox .qor-bottomsheets__body table:not(.qor-table--medialibrary) tbody tr .qor-table__content {
      overflow: inherit;
      max-height: none; }
  .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary {
    margin-left: -19px;
    width: calc(100% + 10px);
    border-spacing: 0; }
    .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary img {
      max-height: 160px;
      max-width: 100%; }
    .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text {
      padding: 0;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
      .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text.qor-table--files {
        top: 0; }
        .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text.qor-table--files > p[data-heading*='File'], .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text.qor-table--files > p[data-heading*='Image'], .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text.qor-table--files > p[data-heading*='file'], .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text.qor-table--files > p[data-heading*='image'] {
          height: 100%; }
        .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text.qor-table--files > p[data-heading*='Name'], .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text.qor-table--files > p[data-heading*='Title'], .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text.qor-table--files > p[data-heading*='name'], .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text.qor-table--files > p[data-heading*='title'] {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0; }
      .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text > p {
        margin-bottom: 0;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.1); }
        .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text > p.qor-table--video iframe,
        .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text > p.qor-table--video video {
          height: 163px; }
        .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text > p.qor-table--video + p {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0; }
        .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text > p.qor-table--video, .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text > p[data-heading*='File'], .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text > p[data-heading*='Image'], .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text > p[data-heading*='file'], .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text > p[data-heading*='image'] {
          padding: 0;
          height: auto; }
        .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text > p .qor-table--medialibrary-file {
          height: 100%; }
          .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card__supporting-text > p .qor-table--medialibrary-file::after {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 2;
            height: 162px;
            content: '';
            background-color: rgba(0, 0, 0, 0.1); }
    .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary thead {
      display: none; }
    .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary tbody tr {
      width: 33.33%; }
      .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary tbody tr:nth-child(2n) .qor-table--medialibrary-item {
        margin-left: 0;
        width: 100%; }
      .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary tbody tr .qor-table--medialibrary-item {
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 1px 1px 0;
        border: 2px solid #fff; }
      .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary tbody tr td {
        padding: 0;
        width: 100%; }
        .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary tbody tr td .qor-table--medialibrary-item {
          position: relative; }
        .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary tbody tr td .qor-select__select-icon {
          left: 10px;
          top: 20px;
          z-index: 2; }
          .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary tbody tr td .qor-select__select-icon i {
            background-color: #fff;
            border-radius: 100%; }
    .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card {
      width: calc(100% - 1px);
      min-height: 162px;
      max-height: 162px; }
      .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-card .qor-table__actions {
        display: none; }
    .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary .mdl-shadow--2dp {
      box-shadow: none; }

.qor-global-search--container .qor-table {
  margin: 0; }

.qor-global-search--container .mdl-spinner {
  margin: 48px auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 901; }

.qor-global-search--container .qor-page__header-tabbar .mdl-layout__tab-bar {
  width: calc(100% - 260px);
  float: left; }
  .qor-global-search--container .qor-page__header-tabbar .mdl-layout__tab-bar li {
    cursor: pointer; }

.qor-global-search--container .qor-global-search {
  float: right;
  z-index: 1;
  margin-right: 32px;
  color: rgb(255,255,255); }

.qor-global-search--container .mdl-button.mdl-button--colored {
  color: rgb(255,255,255); }

[qor-icon-name] .qor-global-search--show {
  padding: 16px 40px;
  margin-top: -8px;
  margin-bottom: 8px;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0, 0.12); }
  [qor-icon-name] .qor-global-search--show:hover, [qor-icon-name] .qor-global-search--show:focus {
    background-color: rgba(0,0,0, 0.12);
    text-decoration: none; }
  [qor-icon-name] .qor-global-search--show.active, [qor-icon-name] .qor-global-search--show.active:hover, [qor-icon-name] .qor-global-search--show.active:focus {
    color: rgb(3,169,244);
    cursor: pointer; }

.qor-bottomsheets .qor-advanced-filter .qor-advanced-filter__save,
.qor-bottomsheets .qor-advanced-filter .qor-advanced-filter__savedfilter {
  display: none; }

.qor-advanced-filter {
  position: relative;
  float: right !important;
  margin-right: 16px !important; }
  .qor-advanced-filter h3 {
    margin-top: 0;
    display: inline-block; }
  .qor-advanced-filter button[type="submit"] {
    margin-top: 32px;
    float: right;
    margin-left: 24px; }
  .qor-advanced-filter .qor-advanced-filter__dropdown {
    position: absolute;
    right: 0;
    width: 420px;
    background-color: #fff;
    padding: 24px;
    height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .qor-advanced-filter .qor-advanced-filter__btns {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
  .qor-advanced-filter .qor-advanced-filter__close {
    float: right;
    margin-top: -4px; }
  .qor-advanced-filter advanced-filter-group {
    margin: 12px 0;
    clear: both; }
  .qor-advanced-filter [type="filter-datetime"] advanced-filter-group {
    width: 45%;
    float: left;
    clear: none;
    margin: 0; }
    .qor-advanced-filter [type="filter-datetime"] advanced-filter-group .qor-field__datetimepicker .qor-action__datepicker {
      right: 32px; }
    .qor-advanced-filter [type="filter-datetime"] advanced-filter-group .qor-field__datetimepicker .qor-action__datepicker,
    .qor-advanced-filter [type="filter-datetime"] advanced-filter-group .qor-field__datetimepicker .qor-action__timepicker {
      bottom: auto;
      top: 12px; }
    .qor-advanced-filter [type="filter-datetime"] advanced-filter-group + span {
      width: 10%;
      float: left;
      text-align: center;
      font-size: 30px;
      padding-top: 19px; }
  .qor-advanced-filter .qor-advanced-filter__save {
    float: left;
    margin-top: 32px; }
  .qor-advanced-filter .qor-field__flexbox {
    display: flex; }
  .qor-advanced-filter [type="filter-string"] .qor-field__edit,
  .qor-advanced-filter [type="filter-number"] .qor-field__edit {
    flex: 1; }
    .qor-advanced-filter [type="filter-string"] .qor-field__edit .mdl-textfield,
    .qor-advanced-filter [type="filter-number"] .qor-field__edit .mdl-textfield {
      width: 100%; }
  .qor-advanced-filter [type="filter-string"] .qor-selector,
  .qor-advanced-filter [type="filter-number"] .qor-selector {
    margin-right: 1%;
    margin-top: 15px;
    min-width: 100px; }
  .qor-advanced-filter .qor-advanced-filter__savedfilter > button {
    float: right;
    margin-top: -48px;
    margin-right: 40px;
    font-size: 11px; }
  .qor-advanced-filter .qor-advanced-filter__savedfilter ul {
    background-color: rgba(0, 0, 0, 0.03);
    margin: 0;
    list-style: none;
    padding: 12px 24px; }
    .qor-advanced-filter .qor-advanced-filter__savedfilter ul li {
      margin: 8px 0; }
      .qor-advanced-filter .qor-advanced-filter__savedfilter ul li .qor-advanced-filter__delete {
        height: 24px;
        width: 24px;
        min-width: 24px;
        line-height: 24px; }
        .qor-advanced-filter .qor-advanced-filter__savedfilter ul li .qor-advanced-filter__delete .material-icons {
          font-size: 20px; }
      .qor-advanced-filter .qor-advanced-filter__savedfilter ul li:hover .qor-advanced-filter__delete {
        display: inline-block !important; }
      .qor-advanced-filter .qor-advanced-filter__savedfilter ul li > a,
      .qor-advanced-filter .qor-advanced-filter__savedfilter ul li > button {
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px; }

[data-toggle="qor.inlineEdit"] .qor-field__show {
  min-height: 24px;
  max-width: 95%; }
  [data-toggle="qor.inlineEdit"] .qor-field__show.qor-redactor__show {
    background-color: #fff;
    padding: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%; }
    [data-toggle="qor.inlineEdit"] .qor-field__show.qor-redactor__show .qor-inlineedit__edit {
      top: 10px;
      right: 10px; }
  [data-toggle="qor.inlineEdit"] .qor-field__show:hover {
    position: relative; }

[data-toggle="qor.inlineEdit"] .qor-fieldset .qor-field.qor-inlineedit__field {
  background-color: #f5f5f5;
  box-shadow: none; }

[data-toggle="qor.inlineEdit"] .qor-section-columns-2 .qor-field.qor-inlineedit__field:nth-child(odd) {
  margin-right: 24px;
  width: calc(50% - 24px);
  padding-right: 8px; }

[data-toggle="qor.inlineEdit"] .qor-section-columns-3 .qor-field.qor-inlineedit__field {
  margin-right: 12px;
  width: calc(33.33% - 12px);
  padding-right: 8px; }
  [data-toggle="qor.inlineEdit"] .qor-section-columns-3 .qor-field.qor-inlineedit__field:nth-child(3n) {
    margin-right: 0;
    width: 33.33%; }

[data-toggle="qor.inlineEdit"] .qor-inlineedit__field.qor-field {
  background-color: #fff;
  position: relative;
  margin-top: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px; }
  [data-toggle="qor.inlineEdit"] .qor-inlineedit__field.qor-field .redactor-box {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    [data-toggle="qor.inlineEdit"] .qor-inlineedit__field.qor-field .redactor-box .redactor-toolbar {
      background-color: rgba(0, 0, 0, 0.02); }
  [data-toggle="qor.inlineEdit"] .qor-inlineedit__field.qor-field .qor-field__show {
    display: none !important; }
  [data-toggle="qor.inlineEdit"] .qor-inlineedit__field.qor-field .qor-field__edit {
    display: block !important; }
  [data-toggle="qor.inlineEdit"] .qor-inlineedit__field.qor-field .mdl-textfield {
    padding: 30px 0 20px; }

[data-toggle="qor.inlineEdit"] .qor-inlineedit__edit {
  width: 24px;
  min-width: 24px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  bottom: auto !important;
  margin-left: 16px; }
  [data-toggle="qor.inlineEdit"] .qor-inlineedit__edit i {
    font-size: 16px;
    font-style: normal; }

[data-toggle="qor.inlineEdit"] .qor-inlineedit__buttons {
  margin-top: -10px;
  text-align: right; }

[data-toggle="qor.inlineEdit"] .qor-field__selectmany-show > span {
  display: inline-block;
  display: inline-block;
  padding: 4px 8px;
  margin: 0 6px 6px 0;
  font-size: 12px;
  line-height: 1;
  vertical-align: top;
  background-color: #f8f9fa;
  border: 1px solid #e0e1e2;
  border-radius: 2px; }

[data-toggle="qor.inlineEdit"] [data-toggle="qor.variations"] .qor-product__filter,
[data-toggle="qor.inlineEdit"] [data-toggle="qor.variations"] .qor-product__property {
  display: none; }

[data-toggle="qor.inlineEdit"] [data-toggle="qor.variations"] table td:first-child,
[data-toggle="qor.inlineEdit"] [data-toggle="qor.variations"] table th:first-child {
  display: none; }

[data-toggle="qor.inlineEdit"] [data-toggle="qor.variations"] table .qor-product__action {
  display: none; }

[data-toggle="qor.inlineEdit"] [data-toggle="qor.mediabox"] .qor-cropper__toggle,
[data-toggle="qor.inlineEdit"] [data-toggle="qor.mediabox"] [data-mediabox-url] {
  display: none; }

[data-toggle="qor.inlineEdit"] [data-toggle="qor.mediabox"] .qor-field__edit {
  display: block; }
